body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
header {
    border: 1px solid red;
}

.Header_center {
    width: 90vw;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
}

.Head-1 {
    width: 50%;
    display: inline-block;
    border: 1px solid red;
}

.Head-1:nth-child(1) {
    width: 20%;
    
}
.Head-1:nth-child(1) >h1{
    justify-content: center;
    align-items: center;
    display: flex;
}

.Head-1:nth-child(2) {
    width: 80%;
}

.Img_1_Div{
    justify-content: center;
    align-items: center;
    display: flex;
}

nav > ul {
    padding: 0px;
    list-style: none;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav > ul > li {
    
    padding: 4px;
    
}
nav > ul > li a{
    font-weight: bold;
    
    color: black;
    text-decoration: none;
}

nav > ul > li a:hover{
    color: rgb(247, 0, 255);
    text-decoration: underline;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.Img_1 {
    width: 100%;
    max-width: 70vw;
}

.Second_Con {
    width: 100%;
    border: 1px solid red;
    height: 10px;
    max-width: 70vw;
    margin: auto;
}

h1 {
    text-shadow: 0px 0px 4px #aaa;
    word-spacing: -1px;
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    position: relative;
    top: 1px;
    margin: 0px;
    height: 60px;
}
h1 a{
    color: rgb(247, 0, 255);
    text-decoration: none;
    
}

@media screen and (max-width: 1500px) {


    .Second_Con {
        width: 100%;
        border: 1px solid red;
        height: 10px;
        max-width: none;
        margin: auto;
    }


    .Img_1{
        width: 100vw;
        max-width: none;
    }
}