body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    /* background-color: aqua; */
}
header {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: block;
    background-color: rgb(55, 151, 241);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;

    margin: 0;
    /* padding: 10px 0; */
}


nav ul li{
    padding: 0;
    margin: 10px;
}
nav ul li a{
    text-align: center;
    width: 100px;
    color: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    
    display: flex;
    font-size: 16px;
    justify-content: center;
    
}
nav ul li a:hover{
    transition-duration: 200ms;
    /* padding: 10px; */
    /* font-size: 16.5px; */

    color: whitesmoke;
    text-shadow: 0 0 10px #080808;
    padding: 10px;
    /* background-color: rgb(37, 128, 247); */
    border-radius: 9px;
    text-decoration: underline;
}

.Down_Btn {
    display: none;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #aaa;
    /* border: 1px solid red; */
    /* background-color: rgb(247, 223, 248); */
    /* padding: 0 10px; */
}

.Down_Btn:hover{
    background-color: rgb(7, 135, 255);
}

#Background_Blur {
    width: 100vw;
    height: 100vh;
    background-color: #c9c9c9;
    opacity: 0.6;
    z-index: 99;
    position: fixed;
    top: 0px;
    display: none;

}

#Nav {
    display: block;
}

section {
    width: 100%;
}
h1 {
    font-size: 20px;
}



















.Section01{
    width: 90vw;
    margin: 15px auto;
    /* border: 1px solid rebeccapurple; */
    /* height: 800px; */
    flex-direction: column;
    box-shadow: 0 0 8px rgb(126, 171, 214);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;

}


















@media screen and (max-width:450px) {
    .Down_Btn {
        display: flex;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li a{
        font-size: 13px;
    }
    nav ul li a:hover{
        font-size: 14px;
        
    }
    h1{
        font-size: 16px;
    }
    #Nav{ 

        display: none;
    }
}