

.Section00{
    /* width: 100vw; */
    /* margin: 15px auto; */
    /* border: 1px solid rebeccapurple; */
    /* height: 800px; */
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    /* background-color: rgb(127, 146, 255); */

}
.Aside01 {
    position: fixed;
    top: 58px;
    left: -240px;
    width: 300px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    /* opacity: 0.4; */
    z-index: 101;
    
    box-shadow: 0 5px 8px rgb(88, 88, 88);
    /* display: none; */
}

#S_Type{
    width: 60px;
    margin: 0 4px;
    /* width: 200px; */
    /* padding: 5px; */
    border: 1px solid rgb(55, 151, 241);
    outline: none;
}

.tr {
    position: relative;
    top: 0;
    display: block;
}
h2 {
    font-size: 16px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 30px;
}
.HAM {
    /* background-color: rgb(165, 165, 189); */

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 8px;
    padding-top: 15px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    background-color: white;
}
.HAM span{
    cursor: pointer;
    padding: 10px;
    /* background-color: rgb(156, 210, 255); */
    border-radius: 50px;
    /* border: 1px solid #aaa; */
    
}
.HAM span:hover {
    transition-duration: 400ms;
    background-color: rgb(150, 208, 255);
    box-shadow: 0 0 10px rgb(168, 168, 168);
    /* border: 1px solid rgb(43, 43, 43); */

}

.Sec_Main {
    text-align: justify;
    /* width: 95vw; */
    /* padding: 0 0 0 65px ; */
    margin: 0 auto;
    /* position: relative; */
    padding-left: 65px;
    /* top: 10px; */
    /* box-shadow: 0 0 8px rgb(114, 114, 114); */
    /* overflow: hidden; */
}
.Section03 {
    /* width: 98vw; */
    margin: auto;
    /* overflow: hidden; */

}
.Main_N {
    background-color: white;
}

#Search_Man {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

#Search_Man_I {
    font-size: 14px;
    padding: 5px;
    outline: none;
    /* margin-right: 15px; */
    
    border: 1px solid rgb(55, 151, 241);
}
#Search_Man_B {
    background-color: rgb(55, 151, 241);
    color: white;
    outline: none;
    border: 1px solid #aaa;
    cursor: pointer;
    padding: 5px;
    
}
#Search_Man_B:hover {
    text-decoration: underline;
    transition-duration: 400ms;
    background-color: rgb(13, 126, 231);
}

.S_List {
    /* background-color: antiquewhite; */
    width: 80%;
    margin: auto;
    height: 60%;
    overflow-y: scroll;
    border: 1px solid #aaa;
    border-top: none;
    margin-top: 10px;
}

.S_List_UL {
    padding: 0;
    list-style: none;
    margin: 0;
}

.S_List_UL li {
    text-align: center;
}
.S_List_UL li button{
    width: 100%;
    border: none;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
}
.S_List_UL li button:hover{
    transition-duration: 200ms;
    color: rgb(18, 188, 255);
    font-size: 14.5px;
}












.formm {
    /* background-color: rgb(236, 236, 236); */
    padding: 20px;
}


.Main_Data_M {
    /* background-color: antiquewhite; */
    /* width: 90%; */
    border: 1px solid #aaa;
    /* display: flex; */
    
}

.fieldset1 {
    display: flex;
    justify-content: left;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#Form_Reg input, #Form_Reg textarea, #Form_Reg button{
    outline: none;
    /* padding: 6px 8px; */
    padding: 6px 0px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid rgb(55, 151, 241);
    width: 200px;
    background-color: transparent;
    
}
fieldset {
    border: 1px solid rgb(55, 151, 241);
    box-sizing: border-box;
    margin: 10px 0;
    /* box-shadow: 0 0 10px rgb(18, 188, 255); */

}

.Reg_label {
    width: 150px;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    /* display: block; */
}
.Reg_label:hover {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition-duration: 200ms;
    color: rgb(55, 151, 241);

}

.Lab_Div {
    margin: 5px 0;
    /* background-color: aqua; */

}


.lab_P {
    font-size: 11px;
    position: relative;
    padding: 0;
    left: 154px;
    margin: 0;
    /* color: red; */
    /* display: inline-block; */
    width: 200px;
}




















#Country_Name, #State_Name, #District_Name, #Gender1, #Assistant_Type{
    width: 200px;
    padding: 5px;
    border: 1px solid rgb(55, 151, 241);
    outline: none;
    
}

.fieldset1 {
    background-color: rgb(201, 226, 255);
}

.fieldset2 {
    background-color: rgb(243, 245, 255);
}



#Form_Reg input[type="radio"] {
    width: 10px;
}

#Gen label, #Gen input{
    font-size: 15px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}




#Form_Reg button {
    background-color: rgb(18, 188, 255);
    color: white;
    border: 1px solid #aaa;
    cursor: pointer;
}

#Form_Reg button:hover {
    text-decoration: underline;
}
















































/* #Form11 {
    
} */

.Display_Data {
    padding-left: 280px;
    display: none;
    /* background-color: wheat; */
}

.boxx {
    /* background-color: antiquewhite; */
    font-size: 14px;

}
.keye {
    /* background-color: aqua; */
    display: inline-block;
    padding: 8px;
    width: 100px;
    font-weight: bold;
}

.valuee {
    /* background-color: gold; */
    display: inline-block;
    padding: 8px;
    padding-left: 0px;
    margin: 0px;
    width: 180px;

}



#Adss {
    font-size: 14px;
    /* background-color: aqua; */
    margin-left: 10px;
}
#Adss h3{
    padding: 0;
    margin: 0;
    margin-top: 20px;
}


#AdssP {
    margin-top: 0;
    text-align: left;
    line-height: 24px;

}

#FOr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#Update_As{
    outline: none;
    width: 100px;
    padding: 6px;
    cursor: pointer;
    border: 1px solid rgb(13, 126, 231);
}

.df {
    display: flex;
    justify-content: center;
    /* width: 300px; */
    margin: 2px 0;
}
.df label {
    padding: 6px;
}

.df button {
    padding: 8px;
    width: 100px;
    cursor: pointer;
    background-color: rgb(109, 185, 255);
    outline: none;
    border: none;
    
}
.df button:hover {
    background-color: rgb(58, 160, 255);
    text-decoration: none;
    color: white;

}

#valueee {
    outline: none;
    border: 1px solid rgb(13, 126, 231);
    padding: 5px;
}

#aassd {
    padding-left: 10px;
}



#asdas {
    outline: none;
    padding: 5px;
    border: 1px solid rgb(13, 126, 231);
}


.gf {
    display: flex;
    justify-content: right;
    padding-right: 10px;
    padding-top: 10px;

}

#cf{
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    background-color: #e9e9e9;
}
#cf:hover{
    background-color: #aaa;
}









@media screen and (max-width: 950px){
    
    .Display_Data {
        padding-left: 0px;
    }
}
@media screen and (max-width: 450px){
    
    #Adss {
        font-size: 14px;
    }
    .Aside10 {
        top: 69px;
    }
    .lab_P {
        left: 0px;

    }
    .Reg_label {
        width: auto;

    }
    
    .lab_P {
        font-size: 11px;
    }
    
    .boxx {
        font-size: 12px;

    }
    
    .keye {
        width: 80px;
    }

    .valuee {
        width: 180px;

    }
    
}

