.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
#Background_Blue{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #aaaaaa69;
    z-index: 99;
    display: none;
}


body {
    margin: 0;
    padding: 0;
    background-color: rgba(241, 241, 241, 0.568);
    font-family: Arial, Helvetica, sans-serif;
}

.Header{
    position: sticky;
    top: 0px;
    position: sticky;
    top: 0px;
    height: 60px;
    background-color: white;
    box-shadow: 0 0 8px rgb(247, 0, 255);
    display: flex;
    justify-content: center;
    z-index: 200;
}

.Header_c {
    z-index: 150;
    position: relative;
    top: 0px;
    max-width: 1570px;
    width: 100%;
    /* background-color: aqua; */
    /* border-left: 1px solid #aaa; */
    /* border-right: 1px solid #aaa; */
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

}

.Logo_Search_Part{
    
    /* border: 1px solid #aaa; */
    /* background-color: bisque; */
    display: flex;
    max-width: 800px;
    width: 100%;
    
}
.Logo_Search_Part h1{
    margin: 0;
    padding: 0;
    word-spacing: -1px;
    display: inline-block;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    color: rgb(247, 0, 255);
    text-shadow: 0px 0px 4px #aaa;
}

.Explores {
    width: 120px;
}
.Explores span{
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    color: rgb(117, 12, 255);
    position: relative;
    text-decoration: underline;
    top: -4px;
}
.Explores img{
    position: relative;
    left: 2px;
    width: 16px;
    height: 16px;
}

.Main_Top {
    user-select: none;

    /* display: inline-block; */
    /* align-items: center; */
    
    /* padding-top: 6px; */
    height: 100%;
}
.Main_Top a{
    text-decoration: none;
    
}

.UP_D {
    display: inline-block;
}

.Nav_GSB {
    padding-top: 6px;
    width: 180px;
}

.BIG_LOGO {
    display: inline-block;
    
}
.BIG_LOGO a {
    text-decoration: none;
}

.BIG_LOGO a img{
    padding-top: 4px;
    width: 54px;
}

.LogO00 {
    display: flex;
    justify-self: left;
    width: 236px;
}

















/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* Search Box  */


.Search_Box_Main {
    display: inline-block;
    max-width: 600px;
    min-width: 350px;
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 172, 172); */
}

.Search_1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 3px 0px ; */
    /* background-color: aqua; */
}

.Search_2 {
    user-select: none;
    border-radius: 50px;
    display: block;
    width: 100%;
    height: 42px;
    border: 1px solid rgb(247, 0, 255);
    /* border: 1px solid rgb(247, 0, 255); */
}

.Search_3 {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    
}

#Search_Type option{
    background-color: white;
}

#Search_Type{
    padding-left: 4px;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 14px;
    outline: none;
    height: 100%;
    width: 45px;
    cursor: pointer;
    border: none;
    /* border-left: 1px solid rgb(247, 0, 255); */
    /* border-right: 1px solid rgb(247, 0, 255); */
    border-right: 1px solid rgb(247, 0, 255);
    /* border-left: 1px solid #aaa; */
    background-color: rgb(253, 186, 255);
}

#Search_Type:hover{
    background-color: rgb(252, 164, 255);
}


#Search_Type:active {
    background-color: rgb(252, 155, 255);
}


#Search_Main_Input {
    
    position: absolute;
    width: calc(100% - 145px);
    left: 45px;
    
    top: 0px;
    padding: 0px;
    height: 100%;
    outline: none;
    font-size: 15px;
    border-radius: 0;
    border: none;
    /* border: 1px solid transparent; */
    /* border-left: 1px solid #cfcfcf; */
    padding-left: 10px;

    
}

.DSDSDSDSDSDSDD:hover {
    background-color: #cfcfcf;

}
.DSDSDSDSDSDSDD {
    display: inline-block;

    height: 100%;
    text-align: center;
    background-color: white;
    padding: 0 10px;
    cursor: pointer; 
    outline: none;
    border-radius: 0px ;
    border: none;


}
#DSDSDSDSDSDSDD_S {
    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    border-left: 1px solid rgb(247, 0, 255) ;
    background-color: rgb(253, 186, 255);
}

#DSDSDSDSDSDSDD_S:hover {
    background-color: rgb(252, 164, 255);
}

#DSDSDSDSDSDSDD_S2:active {
    background-color: #aaa;
}
#DSDSDSDSDSDSDD_S2 {
    position: absolute;
    right: 45px;
    top: 0px;
    border-radius: 50%;
}



#DSDSDSDSDSDSDD_S:active {
    background-color: rgb(252, 155, 255);
}


#DSDSDSDSDSDSDD_S span{
    position: relative;
    right: 2px;
}



















/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */


.Search_Option_Box {
    overflow: hidden;
    /* padding: 10px 0px ; */
    position: absolute;
    top: 42px;
    width: 100%;
    /* height: 100px; */
    /* background-color: aqua; */
    border: 1px solid rgb(247, 0, 255);
    border-radius: 22px;
    background-color: white;
    display: none;

}


.SEARCH_OPTION {
    
    position: relative;
    top: 0;
    width: calc(100%);
    height: 45px;
    /* background-color: aquamarine; */
    /* padding: 5px; */
}


.SEARCH_OPTION_CENTER {
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* background-color: beige; */
    border-bottom: 1px solid #aaa;
    /* border-top: 1px solid #aaa; */
}

.SEARCH_OPTION_CENTER:hover {
    background-color: #e4e4e4;
}

.FIRST_ICON_SEARCH {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 13px;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;

}
.FIRST_ICON_SEARCH span {
    
    text-align: center;
}



.MAIN_SEARCH_TEXT {
    width: calc(100% - 85px);
    
    position: absolute;
    top: 0px;
    left: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    
    
}
.MAIN_SEARCH_TEXT span{
    position: relative;
    left: 6px;
}

.UP_ARROW{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    
}

.UP_ARROW span{
    padding: 6px;
    border-radius: 50%;
    
}
.UP_ARROW span:hover{
    background-color: #c9c9c9;
}


.BBSBSBBSB {
    width: calc(100% - 45px);
    height: 100%;
    border: none;
    background-color: transparent;
    /* background-color: antiquewhite; */
    cursor: pointer;
    outline: none;
}


.UPP_ARROW {
    width: calc(45px);
    height: 100%;
    border: none;
    background-color: transparent;
    /* background-color: antiquewhite; */
    cursor: pointer;
    outline: none;
}




/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */




























































































































/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */

/* NAVIGATION */





.Nav_Slide {

    width: calc(100%);

}






.Nav_Slide nav{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

}
.Nav_Slide nav ul{
    /* display: none; */
    padding: 0px;
    margin: 0;
    display: flex;    
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    list-style: none;
}
.Nav_Slide nav ul li{
    border: 1px solid transparent;
    /* padding: 6px 9px; */
    background-color: white;
    position: relative;
    top: 0;
    /* width: 100px; */
    height: 30px;
    
}
.Nav_Slide nav ul li:hover{
    border: 1px solid rgb(247, 0, 255)
}
.Nav_Slide nav ul li >div {
    color: black;
    cursor: pointer;
    height: 100%;
    width: 100%;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}
.Nav_Slide nav ul li > a {
    color: black;
    cursor: pointer;
    height: 100%;
    width: 100%;
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}


.Nav_Slide nav ul li > a:hover {
    text-shadow: 0 0 1px rgb(247, 0, 255)
}
#LIProfileA:hover {
    text-shadow: 0 0 1px rgb(247, 0, 255)
}

.GI {
    position: relative;;
    top: -2px;
}

.LI {
    position: relative;;
    top: 1px;

}


#LIstore {
    width: 110px;
}

#LIProfile {
    width: 80px;
}


#LIMore {
    width: 70px;
}
.DC {
    position: relative;
    top: 1px;
    right: 2px;
}

#LIFavourite {
    width: 107px;
}

#LICart {
    width: 78px;
}

#LICartA {
    position: relative;
    top: 0px;
}



#CART_NUMBER {
    position: absolute;
    top: -5px;
    left: 19px;
    background-color: red;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    --size: 15px;
    width: var(--size);
    height: var(--size);
    text-align: center;
    font-size: 12px;
    border-radius: 52px;
}





@keyframes VIEW_ON {
    0% {
        display: none;
        height: 0px;
    }
    100%{
        display: flex;
        height: 244px;
    }
}
@keyframes VIEW_OFF {
    0% {
        display: flex;
        height: 244px;
    }
    100%{
        display: none;
        height: 0px;
    }
}


#Profile_OPTION_1 {
    overflow: hidden;
    width: 130px;
    background-color: white;
    border: 1px solid rgb(247, 0, 255);
    position: absolute;
    top: 30px;
    left: -1px;
    border-radius: 12px;
    border-top-left-radius: 0px;
    justify-content: left;
    flex-direction: column;
    height: auto; 
    padding: 3px 5px;
    color: #5a5a5a;
    display: flex;
    /* display: none; */
    
    animation-name: VIEW_OFF;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    
    box-shadow: 0px 0px 10px rgba(78, 78, 78, 0.5);
}


.Profile_Options_Nav2 {
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    color: black;
    text-decoration: none;
    
    display: block;
    padding: 5px 2px;
    border-bottom: 1px solid #c9c9c9;
}

.Profile_Options_Nav2:hover {
    border: 1px solid rgb(247, 0, 255);
}






@keyframes VIEW1_ON {
    0% {
        display: none;
        height: 0px;
    }
    100%{
        display: flex;
        height: 217px;
    }
}
@keyframes VIEW1_OFF {
    0% {
        display: flex;
        height: 217px;
    }
    100%{
        display: none;
        height: 0px;
    }
}






#More_Down {
    overflow: hidden;
    width: 135px;
    background-color: white;
    border: 1px solid rgb(247, 0, 255);
    position: absolute;
    top: 30px;
    left: -1px;
    border-radius: 12px;
    border-top-left-radius: 0px;
    justify-content: left;
    flex-direction: column;
    height: auto; 
    padding: 3px 5px;
    color: #5a5a5a;
    display: flex;
    display: none;
    
    animation-name: VIEW_OFFds;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    
    box-shadow: 0px 0px 10px rgba(78, 78, 78, 0.5);


}
.More_Options {
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    color: black;
    text-decoration: none;
    
    display: block;
    padding: 5px 2px;
    border-bottom: 1px solid #c9c9c9 ;
}

.More_Options:hover {
    border: 1px solid rgb(247, 0, 255);
}


#Profile_OPTION_11 {
    display: none;
}

.MENU_SIDE {
    display: none;
}

.SLIDE_BTN_REV,.MOBILE_CART {
    display: none;
}












































































































/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */


.NEXT_HEAD {
    display: none;
}

#LIProfile1, #LIstore1, #LIMore1, #LIFavourite1, #LICart1{
    display: none;

}

@media screen and (max-width: 1250px) {
    #LIFavourite {
        display: none;
    }
    
    #LIFavourite1 {
        display: block;
    }


    .NEXT_HEAD {
        z-index: 149;
        position: absolute;
        top: 62px;
        height: 40px;
        max-width: 1570px;
        width: 100%;
        /* padding: 0 15px; */
        display: flex;
        background-color: white;
        border-bottom: 1px solid #aaa;
        justify-content: space-between;
    }
    

    .NEXT_HEAD nav{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;

    }
    .NEXT_HEAD nav ul{
        /* display: none; */
        padding: 0px;
        margin: 0;
        display: flex;    
        justify-content: space-around;
        align-items: center;
        width: 100%;
        
        list-style: none;
    }
    .NEXT_HEAD nav ul li{
        border: 1px solid transparent;
        /* padding: 6px 9px; */
        background-color: white;
        position: relative;
        top: 0;
        /* width: 100px; */
        height: 30px;
        
    }
    .NEXT_HEAD nav ul li:hover{
        border: 1px solid rgb(247, 0, 255)
    }
    .NEXT_HEAD nav ul li >div {
        color: black;
        cursor: pointer;
        height: 100%;
        width: 100%;
        text-decoration: none;
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        user-select: none;
        -webkit-tap-highlight-color: transparent;

    }
    .NEXT_HEAD nav ul li > a {
        color: black;
        cursor: pointer;
        height: 100%;
        width: 100%;
        text-decoration: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }


    .NEXT_HEAD nav ul li > a:hover {
        text-shadow: 0 0 1px rgb(247, 0, 255)
    }
    #LIProfileA:hover {
        text-shadow: 0 0 1px rgb(247, 0, 255)
    }

    .GI {
        position: relative;;
        top: -2px;
    }

    .LI {
        position: relative;;
        top: 1px;

    }


    #LIstore1 {
        width: 110px;
    }

    #LIProfile1 {
        width: 80px;
    }


    #LIMore1 {
        width: 70px;
    }
    .DC {
        position: relative;
        top: 1px;
        right: 2px;
    }

    #LIFavourite1 {
        width: 107px;
    }

    #LICart1 {
        width: 78px;
    }

    #LICartA1 {
        position: relative;
        top: 0px;
    }



    #CART_NUMBER1 {
        position: absolute;
        top: -5px;
        left: 19px;
        background-color: red;
        color: white;
        
        display: flex;
        justify-content: center;
        align-items: center;
        --size: 15px;
        width: var(--size);
        height: var(--size);
        text-align: center;
        font-size: 12px;
        border-radius: 52px;
    }
    #Profile_OPTION_11 {
        overflow: hidden;
        width: 130px;
        background-color: white;
        border: 1px solid rgb(247, 0, 255);
        position: absolute;
        top: 30px;
        left: -1px;
        border-radius: 12px;
        border-top-left-radius: 0px;
        justify-content: left;
        flex-direction: column;
        height: auto; 
        padding: 3px 5px;
        color: #5a5a5a;
        display: flex;
        /* display: none; */
        
        animation-name: VIEW_OFF;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        
        box-shadow: 0px 0px 10px rgba(78, 78, 78, 0.5);
    }
    
    
    .Profile_Options_Nav2 {
        overflow: hidden;
        font-size: 14px;
        width: 100%;
        color: black;
        text-decoration: none;
        
        display: block;
        padding: 5px 2px;
        border-bottom: 1px solid #c9c9c9;
    }
    
    .Profile_Options_Nav2:hover {
        border: 1px solid rgb(247, 0, 255);
    }

    

    #More_Down1 {
        overflow: hidden;
        width: 135px;
        background-color: white;
        border: 1px solid rgb(247, 0, 255);
        position: absolute;
        top: 30px;
        left: -1px;
        border-radius: 12px;
        border-top-left-radius: 0px;
        justify-content: left;
        flex-direction: column;
        height: auto; 
        padding: 3px 5px;
        color: #5a5a5a;
        display: flex;
        display: none;
        
        animation-name: VIEW_OFFds;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        
        box-shadow: 0px 0px 10px rgba(78, 78, 78, 0.5);


    }
    .More_Options {
        overflow: hidden;
        font-size: 14px;
        width: 100%;
        color: black;
        text-decoration: none;
        
        display: block;
        padding: 5px 2px;
        border-bottom: 1px solid #c9c9c9 ;
    }

    .More_Options:hover {
        border: 1px solid rgb(247, 0, 255);
    }

        
    



}



@media screen and (max-width: 1050px) {
    #LIMore {
        display: none;
    }
    #LIMore1 {
        display: block;
    }
}



@media screen and (max-width: 900px) {
    #LIstore {
        display: none;
    }
    #LIstore1 {
        display: block;
    }
}



@media screen and (max-width: 825px) {
    #LIProfile {
        display: none;
    }
    #LIProfile1 {
        display: block;
    }
}


@media screen and (max-width: 700px) {
    #LICart {
        display: none;
    }
    #LICart1 {
        display: block;
    }
    .Search_Box_Main {
        min-width: 100px;
    }
    
    #Nav_Slide {
        display: none;
    }
    
    
    
}

.NEXT_HEAD_IMG{
    display: none;
}


@keyframes HAMBURGER_SHOW {
    0% {
        left: -250px;
    }
    100%{
        left: 0px;        
    }
    
}
@keyframes HAMBURGER_HIDE {
    0% {
        left: 0px;        
    }
    100%{
        left: -250px;
    }
    
}
@media screen and (max-width: 550px) {
    .NEXT_HEAD {
        padding-top: 60px;
        top: 0px;
        background-color: white;
        width: 250px;
        height: 100vh;
        left: 0px;
        z-index: 201;
        display: block;
        overflow-y: scroll;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        animation-name: a;
        
    }
    .NEXT_HEAD nav {
        width: 95%;
        margin: auto;
        flex-direction: column;
        
    }
    .NEXT_HEAD nav ul  {
        width: 100%;
        flex-direction: column;
    }
    #NEXT_HEAD nav ul li{
        display: flex;
        justify-content: left;

        margin: 4px 0px;
        width: 100%;
    }

    #NEXT_HEAD nav ul li > a {
        position: relative;
        left: 20px;
        justify-content: left;
    }

    #LIProfileA1, #LIMoreA1 {
        
        position: relative;
        left: 20px;
        justify-content: left;
        
    }



    #Profile_OPTION_11, #More_Down1 {
        z-index: 1000;
    }






    .NEXT_HEAD_IMG { 
        display: flex;
        justify-content: center;
        flex-direction: column;
   
        
        

        
    }
    .NEXT_HEAD_IMG img{
        border-radius: 50px;
        border: 1px solid #aaa;
        width: 60px;
    }
    .NEXT_HEAD_IMG a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: black;
    }
    
    .Pdsa {
        border-bottom: 1px solid #aaa;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .Pdsa:hover {
        text-decoration: underline;
    }


    #NEXT_HEAD {
        z-index: 1200;
        display: none;
    }

    .Header {
        height: 110px;
    }


    #Logo_Search_Part {
        flex-direction: column;
    }
    .SLIDE_BTN_REV {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .SLIDE_BTN_REV span{
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        background-color: #dadada;
        border-radius: 50%;
        padding: 8px;
    }
    .SLIDE_BTN_REV span:hover{
        background-color: #b9b9b9;
    }
    .SLIDE_BTN_REV span:active{
        background-color: #a1a1a1;
    }
    .Logo_Search_Part {
        position: relative;
        top: 0px;
    }
    .MENU_SIDE{
        position: absolute;
        display: inline-block;
        top: 10px;
        left: 0px;



    }



    .Search_Box_Main {
        position: relative;
        top: -3px;
    }

    .Main_Top {
        position: relative;
        left: 42px;
    }

    #MENU_SIDE_SPAN {
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        /* background-color: #e9e8e8; */
        border-radius: 50%;
        padding: 8px;
        
    }
    #MENU_SIDE_SPAN:hover {
        background-color: #dbdbdb;

    }

    .Main_Top {
        width: 236px;
    }

    
    .SLIDE_BTN_REV {
        display: block;
    }
    .MOBILE_CART {
        display: block;
        position: absolute;
        top: 10px;
        right: 0px;
        
    }

    #LICaartA1 {
        text-decoration: none;
        color: black;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
    }
    .GSS {
        font-size: 25px;
        position: relative;
        top: 4px;
    }

    .Caart_SPAN {
        color: black;
    }

    #CART_NUMBER1dd {

        position: absolute;
        top: -5px;
        left: 19px;
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        --size: 15px;
        width: var(--size);
        height: var(--size);
        text-align: center;
        font-size: 12px;
        border-radius: 52px;
    }
        
        

















}


#Profile_OPTION_1 {
    animation-name: ae;
    display: none;
}

#Profile_OPTION_11 {
    animation-name: ae;
    display: none;
}


@media screen and (max-width: 420px) {
    .Caart_SPAN {
        display: none;
    }
        
}
@media screen and (max-width: 335px) {
    .BIG_LOGO {
        display: none;
    }
        
}

































.Section_1 {
    display: block;
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    
}

.Row_1 {
    background-color: white;
    margin: auto;
    width: 90vw;
    /* max-width: 1800px; */
    /* border: 1px solid red; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; */
    height: 440px;
    overflow: hidden;
    position: relative;
    top: 0px;
    box-shadow: 0 0 10px #cecece;
    
    
}

.Row_Slide {
    position: relative;
    left: 0px;
    width: 2130px;
    height: 440px;
    /* max-height: 440px; */
    display: flex;
    padding: 8px;
    
    /* background-color: #ed9feb; */
}
/* 
.Row_Slide.move {
    transform: translateX(100px);
    
} */

.Products_1 {
    display: inline-block;
    width: 180px;
    max-height: 326px;
    height: 100%;
    /* background-color: #cccccc; */
    /* margin: 10px 2px; */
}
.Products_1:hover {
    box-shadow: 0px 0px 10px #cfcfcf;
}
.IMG_P {
    cursor: pointer;
    position: relative;
    top: 0px;

    margin: auto;
    /* padding-top: 8px; */
    width: 100%;
}
.IMG_P a{
    margin: auto;
}

.IMG_IMG {
    width: 100%;
    margin: auto;
    display: block;

}

.Title_P {
    margin: auto;
    padding: 0 7px;
    padding-top: 5px;
}

.Title_P_h5 {
    cursor: pointer;

    /* width: 95%; */
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    /* background-color: #ed9feb; */
    max-height: 67px;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}

.Title_P_h5 a{
    color: black;
    text-decoration: none;
}
.Title_P_h5 a:hover{
    /* color: #ff00f7; */
    text-decoration: underline;
}

.Prize_P {
    margin: 0 7px;
    /* background-color: aqua;   */
    position: relative;
    top: 0;
    height: 20px;
}

.sym {
    position: absolute;
    top: 0px;
    font-size: 14px;
}

.selP {
    position: absolute;
    top: 0px;
    left: 8px;
    font-size: 18px;
}

.Mark_P{
    
    margin: 0 7px;
    text-decoration: skyblue;
}
.Mark_P_Sp{
    font-size: 12px;
}
.Mark_P_Sp_P{
    text-decoration: line-through;
}


.Msg_C {
    background-color: rgb(0, 187, 0);
    color: white;
    width: 85%;
    /* font-weight: bold; */
    /* display: inline-block; */
    padding: 4px 6px;
    /* border-radius: 3px; */
    font-size: 10px;
    text-align: center;
    margin: auto;
    
}



.Veri_P {
    font-size: 11px;
    text-align: center;
    padding: 0 2px;
    margin: auto;
    width: 92%;
}


h3 {
    padding-left: 95px;
    font-size: 25px;
}

















.Arrow_Right:hover{
    box-shadow: 0px 0px 10px #aaa;

}
.Arrow_Left:hover{
    box-shadow: 0px 0px 10px #aaa;

}
.Arrow_Right{
    position: absolute;
    right: -1px;
    top: 130px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
    background-color: #dadada;
    cursor: pointer;
    border: 1px solid #aaa;
    user-select: none;
    opacity: 0.5;
}
.Arrow_Left {
    opacity: 0.5;
    position: absolute;
    left: -1px;
    top: 130px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
    background-color: #dadada;
    cursor: pointer;
    border: 1px solid #aaa;
    user-select: none;
    
}
.Arrow_Left:hover, .Arrow_Right:hover {
    
    background-color: #cacaca;
    opacity: 1;

}
.Arrow_Left span{
    font-size: 25px;
    position: relative;
    left: 1px;
    /* width: 30px; */
    
    /* height: 30px; */
    /* padding: 5px; */
    /* background-color: #cccccc; */
    text-align: center;

}
.Arrow_Right span{
    font-size: 25px;
    position: relative;
    right: -6px;
    /* width: 30px; */

    /* height: 30px; */
    /* padding: 5px; */
    /* background-color: #cccccc; */
    text-align: center;
}


.CART_ADDDD {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 0px;
    right: 35px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0px;
    
}
img {
    
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.CART_BUYYY{
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;

}

.CART_ADDDD span:hover {
    /* text-shadow: 0 0 1px rgb(247, 0, 255); */
    box-shadow: 0px 0px 3px #aaa;
}

.CART_BUYYY span:hover {
    box-shadow: 0px 0px 3px #aaa;
    /* text-shadow: 0 0 1px rgb(247, 0, 255); */
    
}
.CART_ADDDD span {
    /* background-color: rgb(255, 158, 61); */
    background-color: #cacaca;

    padding: 5px;
    border-radius: 50%;
    font-size: 21px;
}



.CART_BUYYY span {
    font-size: 21px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(95, 191, 255);
}



.OfferrrN {
    
    display: flex;
    color: white;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    top: 6px;
    right: 6px;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width: 550px) {
    .Products_1 {
        width: 135px;
        max-height: 281px;
    }
    .CART_BUYYY {
        top: -4px;
        right: 0;
    }
    .CART_BUYYY span{
        font-size: 16px;
    }
    .CART_ADDDD {
        top: -4px;
        right: 30px;
    }
    .CART_ADDDD span{
        font-size: 16px;
    }
    
    
}

























































.Footer{
    background-color: black;
    color: white;
    width: 100%;
    /* height: 50px; */
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 15px 0;
}











