body {
    background-color: #afffff;
}

#Topper {
    height: 220px;
    width: 100%;
    background-color: transparent;

}

.container {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#Login {
    height: 469px;
    /* display: none; */
}

#Login img {
    box-shadow: 0px 0px 20px #aaa;
    z-index: 4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#Login_Side {
    padding: 30px;
    height: 409px;
    width: 409px;
    background-color: white;
    z-index: 4;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 20px #aaa;
}

#heading {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: deeppink;
    text-align: center;
    /* border: 1px solid #aaa; */
    padding: 10px;
    margin-top: 22px;
    margin-bottom: 0;
    font-family: Roboto, Arial, sans-serif;

}

#As_Login {
    display: block;
    z-index: 4;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: normal;

}

form {
    /* background-color: aquamarine; */
    width: 350px;
    font-family: Roboto, Arial, sans-serif;
    height: 340px;
    margin: auto;
}

#Welcome {
    font-family: Roboto, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    padding-top: 10px;
    text-align: center;
}

#Selection {
    background-color: white;
    /* height: 40px; */
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    padding: 0px;
    margin-top: 10px;
}


#Selection p{
    padding: 0;
    font-size: 14px;
}




/* label:hover { */
    /* background-color: rgb(215, 246, 255); */
    /* border: 1px solid rgb(108, 223, 255); */
/* } */
/* label:nth-child(1) {
    
    background-color: rgb(215, 246, 255);
} */

/* label { */
    /* font-family: Roboto, Arial, sans-serif;
    background-color: white;
    width: 144px;
    font-size: 15px;
    display: inline-block;
    padding: 8px;
    margin: 0px;
    text-align: center; */
    /* cursor: pointer; */
    /* border: 1px solid var(--Outline-Color); */
/* } */

input {
    outline: none;
}

#Email_Top {
    padding: 10px 15px;
    margin-top: 5px;
    padding-bottom: 4px;
}

#User_Login {
    margin: 0px 15px;
    border-bottom: 1px solid var(--Outline-Color);
    position: relative;
    top: 0px;
    margin-top: 14px;
}

#Span_Person {
    color: deepskyblue;
    font-size: 26px;
    background-color: white;
    height: 32px;
    padding-top: 3px;
}

#Email {

    padding: 10px;
    font-size: 13px;
    position: absolute;
    left: 30px;
    border: none;
    width: 275px;
    padding-left: 5px;
}

#User_Login_P {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    position: relative;
    top: 2px;
    left: 15px;
    margin-bottom: 7px;
}

#Password_Top {

    padding: 10px 15px;
    margin-top: 5px;
    padding-bottom: 4px;
}

#User_Password {
    margin: 0px 15px;
    border-bottom: 1px solid var(--Outline-Color);
    position: relative;
    top: 0px;
}

#Span_Password {

    color: deepskyblue;
    font-size: 24px;
    background-color: white;
    height: 30px;
    padding-top: 5px;
}

#Password {

    padding: 10px;
    font-size: 13px;
    position: absolute;
    left: 30px;
    border: none;
    width: 275px;
    padding-left: 5px;
}

#User_Password_P {

    padding: 0px;
    margin: 0px;
    font-size: 12px;
    position: relative;
    top: 2px;
    left: 15px;
    margin-bottom: 7px;

}


#Submit_Button {
    width: 320px;
    padding: 7px;
    font-size: 15px;
    display: block;
    margin: auto;

    background-color: #ff3af5;
    color: white;
    border: 1px solid #be007f;
}

#Submit_Button:hover {
    background-color: #ff00c8;

}

#Submit_Button:active {
    background-color: #ff00aa;
    text-decoration: underline;

}


#forgot_passowrd {
    display: block;
    font-size: 12.5px;
    margin: 0px 15px;
    text-align: right;
}

#Donothaveaaccount {
    display: block;
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    margin: 5px 15px 0px 15px;
    background-color: rgb(92, 255, 255);
    text-align: center;
    padding: 10px;
    width: 298px;
    border: 1px solid #be007f;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#Donothaveaaccount:hover {
    background-color: rgb(0, 240, 240);

}

#Donothaveaaccount:active {
    background-color: rgb(0, 224, 224);
    text-decoration: underline;

}

#OR {
    display: block;
    margin: auto;
    text-align: center;
}
#Terms {
    display: block;
    margin: 1px 15px;
    text-align: right;
    color: black;
    text-decoration: none;
    font-size: 12px;
}
#Terms:hover {
    text-decoration: underline;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    z-index: 0;
}
:root {
    --Outline-Color: #ff00f2;
    --Box-Shadow-Color-Bottom: #ff3bf5;
    --Header_Logo_Size: 60px;
}







#Check_Div{
    /* border: 1px solid red; */
    font-size: 12px;
    margin-left: 12px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 7px;
}

#Check_Div input{
    position: relative;
    top: 2px;
    cursor: pointer;
    
}

#Check_Div label{
    cursor: pointer;
    /* position: relative;*/
    /* top: -4px; */

}

button{
    cursor: pointer;
}

.Dwn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #d6d6d6;
    z-index: 1000000;
    opacity: 0.6;
}


#LOADING_ICON {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: #aaaaaa3b;
}

#LOADING_ICON_CENTER {
    width: 50px;    
}
#LOADING_ICON_CENTER img {
    width: 50px;
}



@keyframes Loading {
    0% {
        width: 0px;
    }
    85% {
        width: 75%;
    } 
    90% {
        width: 75%;
    } 
    99% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}



#LOADING {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 2px;
    z-index: 100000000;
    display: none; 

}

#LOADING_SPAN {
    width: 100%;
    height: 4px;
    opacity: 0.5;
    background-color: #ff4be7;
    animation-name: Loadding;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}




input{
    outline: none;
    padding: 10px;
    font-size: 13px;
    border: 1px solid var(--Outline-Color);
}






































/* .container{
    display: none;
} */




#OTP_SENT_Y_N {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    background-color: transparent;
    animation-name: Hidea;
    animation-delay: 200ms;
    z-index: 10000000000000000000000000;
    animation-duration: 3.2s; /*________________________________________*/
    animation-fill-mode: forwards;
    display: none;
    /* display: flex; */
}




@keyframes Hide {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 1;
    }    
    100%{
        opacity: 0;
        display: none;
    }
}



#OTP_SENT_Y_N_CENTER {
    padding: 10px 20px;
    color: white;
    user-select: none;
    background-color: rgb(75, 75, 75);
    /* border-radius: 10px; */
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}








#OTP_Container {
    font-family: Roboto, Arial, sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    /* display: flex; */
}









.Center_OTP {
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
    border: 1px solid #aaa;
    width: 270px;
    height: 270px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Center_OTP_C {
    width: 230px;
    height: 230px;
    background-color: white;

}

.H3_OTP {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;

}

.Center_OTP_C p {
    font-size: 15px;
}


#OTP_FORM {
    /* border: 1px solid red; */
    height: 126px;
    width: 100%;
}





.OTP_INPUT {
    display: block;
    border: 1px solid #aaa;
    margin: auto;
    margin-bottom: 5px;
}

.OTP_SUBMIT {
    width: 191px;
    padding: 8px;
    background-color: #ff3bf5;
    color: white;
    outline: none;
    border: 0px solid #aaa;
    margin: auto;
    display: block;
    cursor: pointer;
    margin-top: 10px;
}
.OTP_SUBMIT:hover {
    background-color: #ff29f4;
}

.OTP_SUBMIT:active {
    background-color: #ff64f7;
}

#OTP_Para {
    margin: 0px;
    font-size: 13px;
    color: red;
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
    padding: 0px;
    display: none;

}

#BTNSS {
    display: flex;
    justify-content: space-evenly;
}

.OTP_SUBMIT_D {
    width: 100px;
    padding: 10px;
    background-color: #ff3bf5;
    color: white;
    outline: none;
    border: 0px solid #aaa;
    /* margin: auto; */
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
}


.OTP_SUBMIT_D:hover {
    background-color: #ff11f3;
    
}
.OTP_SUBMIT_D:nth-child(2) {
    background-color: white;
    border: 1px solid #ff11f3;
    color: black;
}

.OTP_SUBMIT_D:nth-child(2):hover {
    background-color: #ffe8fe;
}

.OTP_SUBMIT_D:nth-child(2):active {
    background-color: #ffa1fa;
}

.OTP_SUBMIT_D:active {
    background-color: #fd6af6;

    
}

.H5_ {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    font-weight: 300;
    color: #424242;

    text-align: center;
}

#Min_2_T {
    color: black;
}

#Min_2_Ta {
    color: black;
}











#KK {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: transparent;
    display: none;

}

#Small {
    padding: 10px 30px;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 14px;

}
