main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}


.Maa {
    /* background-color: aqua; */
    max-width: 1700px;
    box-sizing: border-box;
    box-shadow: 0 0 10px #aaa;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding-top: 10px;*/
    margin: 20px;
    padding: 10px;

}

.m1 {
    /* background-color: rgb(212, 181, 136); */
    border-right: 1px solid #aaa;
    width: 700px;
    height: 600px;
    display: flex;
    
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    
}


.imgg {
    width: 100px;
    max-height: 100%;
    /* background-color: aqua; */
    position: relative;
    overflow: hidden;
    /* top: 10px; */
}

.I_UP_DOWN_m {
    z-index: 100;
    /* width: 100px; */
    left: 34px;

    display: block;
    background-color: transparent;
    position: absolute;
    top: 0px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    
}

.I_UP_DOWN_l {
    z-index: 100;
    /* width: 100px; */
    left: 34px;

    display: block;
    background-color: transparent;
    position: absolute;
    bottom: 0px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}

.I_UP_DOWN_m span {
    background-color: #e0e0e0;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
}
.I_UP_DOWN_m span:hover {
    background-color: #d3d3d3e0;
}









    
    
.I_UP_DOWN_l span {
    background-color: #e0e0e0;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
}
.I_UP_DOWN_l span:hover {
    background-color: #d3d3d3e0;


}

.ms_img{
    /* border: 1px; */
    border-radius: 20px;
    /* border: 1px solid transparent; */
    width: 100%;
    cursor: pointer;
}

.MSSS {
    z-index: 99;
    padding: 31px 0px;
    position: relative;
    top: 0px;
}


.Big_IMMGG {
    /* background-color: aqua; */
    height: 100%;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}


#BIG_I {
    width: 95%;
    height: 95%;
    box-shadow: 0 0 8px rgb(75, 228, 255);
}


.dda:hover {
    box-shadow: 0 0 5px rgb(75, 228, 255);
}

.dda {
    margin: auto;
    width: 95px;
    outline: none;
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 20px;
    height: 95px;
}






















.m2 {
    width: 700px;
    /* background-color: rgb(255, 231, 187); */

    /* height: 20px; */
    padding-left: 10px;
    padding-right: 10px;
}

.Tttlleee {
    width: 100%;
    /* height: 10px; */
    /* background-color: aqua; */
}

.Tttlleee h1 {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
    /* background-color: aquamarine; */
}

.Visisitt {
    /* background-color: gold; */
    font-family: sans-serif;
}

.offera p{
    margin: 0;
}
.offera {
    font-family: sans-serif;
    /* background-color: #aaa; */
}

.selll_IC {
    position: relative;
    top: 6px;
    margin-right: 5px;
    color: rgb(0, 199, 60);
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    
}

.pri {
    margin: 5px 0px;
    font-family: sans-serif;
    position: relative;
    top: 0;
}
.Pris{
    position: relative;
    top: -5px;
    font-size: 14px;
}
.Prisell{
    position: relative;
    left: -4px;
    
    font-size: 21px;
}
.Primrp{
    font-size: 15px;
    text-decoration: line-through;
}
.Prinum{
    font-size: 15px;
    text-decoration: line-through;
}
.PerOff {
    font-size: 18px;
    font-weight: bold;
    color: red;

}

.PerSt {
    background-color: rgb(0, 160, 0);
    color: white;
    border-radius: 5px;
    padding: 4px 12px;
    
}

























.bbs button{
    padding: 5px 10px;
    cursor: pointer;
}
.bbs {

}