

.Section_1 {
    display: block;
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    
}

.Row_1 {
    height: 330px;
    background-color: white;
    margin: auto;
    width: 90vw;
    /* max-width: 1800px; */
    /* border: 1px solid red; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; */
    overflow: hidden;
    position: relative;
    top: 0px;
    box-shadow: 0 0 10px #cecece;
    
    padding: 8px;
    
}

.Row_Slide {
    position: relative;
    left: 0px;
    /* width: 2130px; */
    height: 100%;
    /* max-height: 440px; */
    display: flex;
    
    
    /* background-color: #ed9feb; */
}
/* 
.Row_Slide.move {
    transform: translateX(100px);
    
} */

.Products_1 {
    display: inline-block;
    width: 180px;
    max-height: 326px;
    height: 100%;
    /* background-color: #cccccc; */
    margin: 0px 4px;
}
.Products_1:hover {
    box-shadow: 0px 0px 10px #cfcfcf;
}
.IMG_P {
    cursor: pointer;
    position: relative;
    top: 0px;

    margin: auto;
    /* padding-top: 8px; */
    width: 100%;
}
.IMG_P a{
    margin: auto;
}

.IMG_IMG {
    width: 100%;
    margin: auto;
    display: block;

}

.Title_P {
    margin: auto;
    padding: 0 7px;
    padding-top: 5px;
}

.Title_P_h5 {
    cursor: pointer;

    /* width: 95%; */
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    /* background-color: #ed9feb; */
    max-height: 67px;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}

.Title_P_h5 a{
    color: black;
    text-decoration: none;
}
.Title_P_h5 a:hover{
    /* color: #ff00f7; */
    text-decoration: underline;
}

.Prize_P {
    margin: 0 7px;
    /* background-color: aqua;   */
    position: relative;
    top: 0;
    height: 20px;
}

.sym {
    position: absolute;
    top: 0px;
    font-size: 14px;
}

.selP {
    position: absolute;
    top: 0px;
    left: 8px;
    font-size: 18px;
}

.Mark_P{
    
    margin: 0 7px;
    text-decoration: skyblue;
}
.Mark_P_Sp{
    font-size: 12px;
}
.Mark_P_Sp_P{
    text-decoration: line-through;
}


.Msg_C {
    background-color: rgb(0, 187, 0);
    color: white;
    width: 85%;
    /* font-weight: bold; */
    /* display: inline-block; */
    padding: 4px 6px;
    /* border-radius: 3px; */
    font-size: 10px;
    text-align: center;
    margin: auto;
    
}



.Veri_P {
    font-size: 11px;
    text-align: center;
    padding: 0 2px;
    margin: auto;
    width: 92%;
}


h3 {
    padding-left: 95px;
    font-size: 25px;
}

















.Arrow_Right:hover{
    box-shadow: 0px 0px 10px #aaa;

}
.Arrow_Left:hover{
    box-shadow: 0px 0px 10px #aaa;

}
.Arrow_Right{
    user-select: none;
    position: absolute;
    right: -1px;
    top: 130px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
    background-color: #dadada;
    cursor: pointer;
    border: 1px solid #aaa;
    user-select: none;
    opacity: 0.5;
    -webkit-tap-highlight-color: transparent;
}
.Arrow_Left {
    
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    opacity: 0.5;
    position: absolute;
    left: -1px;
    top: 130px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
    background-color: #dadada;
    cursor: pointer;
    border: 1px solid #aaa;
    user-select: none;
    
}
.Arrow_Left:hover, .Arrow_Right:hover {
    
    background-color: #cacaca;
    opacity: 1;

}
.Arrow_Left span{
    font-size: 25px;
    position: relative;
    left: 1px;
    /* width: 30px; */
    
    /* height: 30px; */
    /* padding: 5px; */
    /* background-color: #cccccc; */
    text-align: center;

}
.Arrow_Right span{
    font-size: 25px;
    position: relative;
    right: -6px;
    /* width: 30px; */

    /* height: 30px; */
    /* padding: 5px; */
    /* background-color: #cccccc; */
    text-align: center;
}


.CART_ADDDD {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 0px;
    right: 35px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0px;
    
}
img {
    
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.CART_BUYYY{
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;

}

.CART_ADDDD span:hover {
    /* text-shadow: 0 0 1px rgb(247, 0, 255); */
    box-shadow: 0px 0px 3px #aaa;
}

.CART_BUYYY span:hover {
    box-shadow: 0px 0px 3px #aaa;
    /* text-shadow: 0 0 1px rgb(247, 0, 255); */
    
}
.CART_ADDDD span {
    /* background-color: rgb(255, 158, 61); */
    background-color: #cacaca;

    padding: 5px;
    border-radius: 50%;
    font-size: 21px;
}



.CART_BUYYY span {
    font-size: 21px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(95, 191, 255);
}



.OfferrrN {
    
    display: flex;
    color: white;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    top: 6px;
    right: 6px;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width: 550px) {
    
    .Row_1 {
        height: 282px;
    }
    .Products_1 {
        width: 135px;
        max-height: 281px;
    }
    .CART_BUYYY {
        top: -4px;
        right: 0;
    }
    .CART_BUYYY span{
        font-size: 16px;
    }
    .CART_ADDDD {
        top: -4px;
        right: 30px;
    }
    .CART_ADDDD span{
        font-size: 16px;
    }
    .Title_P_h5 {
        font-size: 13px;
    }
    
    
}




.SDSD {
    /* height: 330px; */

    /* background-color: white; */
    margin: 20px auto;
    width: 90vw;
    position: relative;
    left: -9px;
}













