main {
    width: 100%;
    
}
.Main_Par {

    width: 70%;
    margin: auto;
    /* border: 1px solid #aaa; */
    /* height: 100px; */
    margin-top: 20px;
    padding: 15px 20px;

}

.HEadere {
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaaaaa9c;
    
}
.HEadere a{
    color: black;
    text-decoration: none;
    
}

.HEadere a:hover{
    text-decoration: underline;
}


.List_SS {
    width: 100%;
    /* border: 1px solid #aaa; */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    
}

.Lists {
    width: 200px;
    /* height: 200px; */
    /* border: 1px solid #aaaaaaa9; */

    padding: 15px;
    padding-top: 10px;
    
}

.Lists button:hover {
    border: 1px solid #aaa;
    background-color: rgb(236, 236, 236);
}
.Lists button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #aaaaaa9c;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    text-align: left;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.List_Btn:nth-child(8) {
    border: 1px solid #aaa;

}















.ITEM {
    /* width: 200px; */
    /* height: 200px; */
    border: 1px solid #c4c4c49c;

}




.Top_Ite {
    display: block;
    /* background-color: aqua; */
}

.Top_Ite_1 {
    background-color: #d8d8d89c;
}

.Main1 {
    padding: 15px 10px;
    border-bottom: 1px solid #c4c4c49c;
}
.Main2 {
    padding: 7px 10px;
    background-color: white;
}
.Main2 label {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.Main2 label, .Main2 input{
    padding: 8px 13px;
}
.Main2 input{
    font-size: 14px;
}

.Proi {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    /* background-color: aqua; */
    padding: 5px 10px;
}

.Proi div{
    height: 60px;
}

.Proi_ICON {
    display: flex;
    align-items: center;
}
.Proi_ICON span{
    border-radius: 50%;
    /* background-color: rgb(131, 189, 255); */
    font-size: 50px;
    color: #505050;
}


.Proi_ICON_Side {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 8px;
}



.Proi_ICON_Side span{
    /* background-color: beige; */
    width: 100%;
    text-align: left;
}

.Proi_ICON_Side span:nth-child(1){
    font-weight: bold;
}

.Proi_ICON_Side span:nth-child(2){
    font-size: 14px;
}



.SDSDASDERSDS {
    background-color: transparent;
    border: none;
    font-weight: bold;
    /* border-bottom: 1px solid #c4c4c49c; */
}

.Main2 > div label {
    display: inline-block;
    width: 100px;
}

.CCOOIJNJ {
    display: inline-block;
    
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    /* display: flex; */
    
}
.CCOOIJNJ div{
    display: inline-block;
}
.CCOOIJNJ div:nth-child(1){
    padding: 8px 13px;
    width: 100px;
}

.CCOOIJNJ div:nth-child(2){
    color: #505050;
    padding: 8px 13px;
}

.CCOOIJNJ div:nth-child(2) img{
    width: 15px;
    position: relative;
    top: 2px;
}

.Adddsss label{
    
    position: relative;
    bottom: 40px;
}
.Adddsss {
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
}
.Adddsss address{
    color: #505050;
    display: inline-block;
    font-weight: bold;
    padding: 8px 13px;
}

.BAN label{
    position: relative;
    bottom: 27px;
}
.BAN_D {
    color: #505050;
    font-weight: bold;
    padding: 8px 13px;
    display: inline-block;
}



.XDXDXD label{
    position: relative;
    bottom: 0px;
}
.XDXDXD a{
    /* margin: 50px 0px; */
    display: inline-block;
    margin-bottom: 4px;
    color: #505050;
    background-color: #dfdfdf;
    text-decoration: none;
    
    padding: 8px 13px;
    margin-left: 13px;
    border-radius: 4px;
}
.XDXDXD a:hover{
    background-color: #ececec;
}
.XDXDXD a:active{
    background-color: #bbbbbb;
}



.CFCF label{
    position: relative;
    bottom: 0px;
}
.CFCF a{
    /* margin: 50px 0px; */
    display: inline-block;
    margin-bottom: 4px;
    color: #505050;
    background-color: #dfdfdf;
    text-decoration: none;
    
    padding: 8px 13px;
    margin-left: 13px;
    border-radius: 4px;
}
.CFCF a:hover{
    background-color: #ececec;
}
.CFCF a:active{
    background-color: #bbbbbb;
}

@media screen and (max-width: 920px) {
    .Main_Par {
        width: 90%;
    }
    

}


@media screen and (max-width: 1250px) {
    main {
        margin-top: 40px;
    }
}
@media screen and (max-width: 750px) {
    .Main_Par {
        width: 90%;
    }
    .List_SS{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Lists {
        width: 80%;
    }
    .ITEM {
        
        width: 80%;
        
    }
    
}

@media screen and (max-width: 540px) {
    .Lists {
        width: 100%;
        padding: 0;
    }
    .ITEM {
        
        width: 100%;
        
    }
    .Main_Par {
        padding: 0;
        margin: 15px;
    }
    
    .Adddsss label{
        
        position: relative;
        bottom: 0px;
    }
    
    .BAN label{
        position: relative;
        bottom: 0px;
    }
    .BAN_D {
        width: 190px;
    }

}



.SDSDASDERSDS {
    outline: none;
}

#AddBank {
    outline: none;
    background-color: rgb(255, 175, 248);
    border: none;
    padding: 8px 10px;
    transition: 200ms background-color;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

#Btnnssdsads {
    margin: 10px;
    padding-left: 80px;
}
#Btnnssdsads button{
    outline: none;
    background-color: rgb(255, 175, 248);
    border: none;
    padding: 8px 10px;
    transition: 200ms background-color;
    border-radius: 4px;
    cursor: pointer;

}


#AddBank:focus,
#AddBank:hover {
    text-decoration: underline;
    background-color: rgb(255, 132, 245);
    
}

#AddBank:active,
#Btnnssdsads button:active{
    background-color: rgb(255, 92, 241);
    
}
#Btnnssdsads button:focus,#Btnnssdsads button:hover{
    text-decoration: underline;
    background-color: rgb(255, 132, 245);
        
}
    






#Background_Blue {
    display: none;
    justify-content: center;
    align-items: center;
    animation-name: a;
    animation-fill-mode: forwards;
    animation-duration: 1s;

}

@keyframes Hide {
    0%{
        opacity: 1;
    }    
    100%{
        opacity: 0;
        display: none;
    }
}
#Mes {
    background-color: #505050;
    border: 1px solid white;
    padding: 8px 12px;
    color: white;
}



#change_Pasw {
    padding: 8px 12px;
    cursor: pointer;
    background-color: rgb(255, 175, 248);
    outline: none;
    border: none;
    transition: 200ms background-color;


}
#change_Pasw:hover {
    background-color: rgb(255, 132, 245);
}
#change_Pasw:active {
    background-color: rgb(255, 92, 241);
}










#ChangePassword {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 99px;
    background-color: #e2e2e24d;
    display: none;
    justify-content: center;
    align-items: center;
}

.Boss {
    width: 280px;
    /* height: 10px; */
    background-color: white;
    box-shadow: 0 0 10px #aaa;
    border-radius: 10px;
}

.Headedsadasdasdasdasdas {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
    align-items: center;

}

.fo {
    width: 100%;
    /* height: 100px; */
}

.fo input{
    width: 180px;
    outline: none;
    background-color: transparent;
    border: none;
    border: 1px solid rgb(255, 92, 241);
    margin: 5px auto;
    display: block;
    padding: 5px 10px;
}






#Clissds {
    cursor: pointer;
    border-radius: 56%;
    padding: 5px;
    font-size: 20px;
    background-color: #cacaca;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
#Clissds:active {
    background-color: #a7a5a5;
}
#Clissds:hover, #Clissds:focus {
    background-color: #afafaf;
}




#ChangePasswordFInalBtn {
    cursor: pointer;
    user-select: none;
    display: block;
    margin: 10px auto;
    outline: none;
    border: none;
    padding: 8px 12px;
    -webkit-tap-highlight-color: transparent;
    width: 180px;
    background-color: rgb(255, 175, 248);
}

#ChangePasswordFInalBtn:hover {
    background-color: rgb(255, 132, 245);    
}
#ChangePasswordFInalBtn:active {
    background-color: rgb(255, 92, 241);
    
}
#ChangePasswordFInalBtn:focus {
    background-color: rgb(255, 132, 245);    
    
}


#Forget {
    display: block;
    font-size: 13px;
    margin: 10px auto;
}










