<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Manager| GET SKY BUY</title>
    <link rel="stylesheet" href="/Files/css/Admin_Manager.css">
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <div id="Background_Blur"></div>
    <header>
        <div id="Down_Btn" class="Down_Btn">
            <span class="material-symbols-outlined">expand_more</span>

        </div>
        <nav id="Nav">
            <ul>
                <li><a href="/admin">Home</a></li>
                <li><a href="/admin/managers">Managers</a></li>
                <li><a href="/admin/Analytics">Analytics</a></li>
                <li><a href="/admin/control">Control</a></li>
                <li><a href="/admin/seller">Seller</a></li>
                <li>
                    <a href="/admin/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <center><h1>Coming soon - Analytics</span></h1></center>

    <hr>




    <section>
        <div class="Section01">

            
        </div>
    </section>











































    <section>
        <div class="Section01">

        </div>
    </section>



































    <script src="/files/js/Main_Admin.js"></script>
</body>
</html>