<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Assistant User | GSB - Assistant</title>
    

    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">
    
    <link rel="stylesheet" href="/files/css/Admin_Assistant_new_Mail.css">
</head>
<body>
    <div class="dis">
        <table style="text-align: center; border-collapse: collapse;" border="1">
            <caption>List of Assistants</caption>
            <thead><tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Done</th>
            </tr></thead>
            <tbody>
                <tr>
                    <td class="Assa">Rick</td>
                    <td class="Assa">ricksarkar2005@gmail.com</td>
                    <td class="Assa">No</td>
                </tr>
            </tbody>
        </table>
        

    </div>
    
    <form>
        <div class="as">
            <label for="Name">Name</label>
            <input type="text" placeholder="Name" id="Name">
            <label for="Em">Email address</label>
            <input type="text" placeholder="Email address" id="Em">
            <button type="button" onclick="nameaa();">Sent Mail</button>
            <p id="a1" class="aas">Sent successfully</p>
        </div>
        <div class="as" style="margin-left: 5px;">
            <label for="Ema">Email address</label>
            <input type="text" placeholder="Email address" id="Ema">
            <input type="text" placeholder="Verified" id="Verified">
            <button type="button" onclick="namea();">Verified</button>
            <p id="a2" class="aas">Sent successfully</p>


        </div>
    </form>

        

    
    <script src="/files/js/Admin_Assistant_new_Mail.js"></script>
            
            
    
</body>
</html>