
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | GET SKY BUY</title>
    
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">

</head>
<body id="Body" style="padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; background-color: rgb(238, 238, 238);">
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh;">
        <div style="width: 300px; box-shadow: 0 0 10px #aaa; background-color: white; padding: 20px;">
            <h3 >Enter Email:</h3>
            <input id="Email" type="text" placeholder="Enter Email" style="padding: 6px 12px; margin:0; width: calc(100% - 46px);">
            <button id="Sss" onclick="Sdsrs()" type="button">Next</button>

        </div>

    </div>
    
    
    

    <script src="/files/js/forgot_passworrd_GET.js"></script>
</body>
</html>