<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSB - Login | GET SKY BUY LOGIN</title>
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="description" content="ADMIN PANNEL, CUSTOMERS ARE STRICTED TO VISIT THIS PAGE">
    <meta name="author" content="RICK SARKAR">
    <meta name="robot" content="NO INDEX, NO FOLLOW">
    <meta name="keywords" content="GET SKY BUY, getskybuy, Online shopping Site, Local Products Selling">
    
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">

    <style>fieldset{font-family: sans-serif; display: flex; justify-content: center; flex-wrap: wrap; align-items: center; flex-direction: column;} legend{font-size: 18px;} button {background-color: aqua;font-weight: bold;}button:hover{text-decoration: underline; color: #ffffff; background-color: rgb(255, 36, 244);transition-duration: 200ms;}</style>
</head>
<body dir="ltr" style="margin: 0; padding: 0; user-select: none; -webkit-tap-highlight-color: transparent;">






    <div class="logina" style="display: flex; justify-content: center; align-items: center; flex-direction: column; width: 90vw; height: 95vh; margin: auto;">
        
        <h1 style="font-family: sans-serif; text-align: center;">Not for customers, this will ban your account</h1>
        <fieldset>
            <legend>Login</legend>
            <p>Not for customers, this will ban your account</p>
            <h3>Warning</h3>
            <p>Leave this page as soon as fast.</p>
            <input required name="Email" autocomplete="off" title="Warning" style="margin: 8px; padding: 8px; outline: none;" type="email" placeholder="Not for customers, this will ban your account" id="Gma">
            <input required name="Password" title="Warning" style="margin: 8px; padding: 8px; outline: none;"  type="password" placeholder="Leave this page" id="Psss">
            <button style="margin: 8px; padding: 8px 15px; outline: none; border: 1px solid #aaa; cursor: pointer; width: 150px;"   type="button" onclick="Loog(15);">Banned</button>
        </fieldset>
        <h3 style="font-family: sans-serif;">GET SKY BUY</h3>
    </div>
    <script src="/files/js/H.js"></script>
</body>
</html>