<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Online Shopping Site | GET SKY BUY</title>
    <link rel="stylesheet" href="/files/css/Home2.css">
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

</head>
<body>

    <header class="Header">
        <div class="Header_c">
            <div class="Logo_Search_Part">
                <!-- Search -->
                <div class="Main_Top">
                    <div class="LogO00">
                        <div class="BIG_LOGO">
                            <a title="GET SKY BUY" href="/?Source=Top_Left_logo">
                                <img src="/files/img/GSB_logo.png" alt="Logo">
                            </a>
                        </div>
                        <div class="UP_D">
                            <div class="Nav_GSB">
                                <a title="GET SKY BUY" href="/?Source=Top_Left_logo">
                                    <h1>GET SKY BUY</h1>
                                </a>
                            </div>
                            <div class="Explores">
                                <a title="GET SKY BUY" href="/?Source=Top_Left_logo">
                                    <span>Explore Now</span><img src="/files/img/GSB_logo.png" alt="Logo">
                                </a>
                            </div>
                        </div>
                    </div>

                    
                </div>
                <div class="Search_Box_Main">
                    <div class="Search_1">
                        <div class="Search_2">
                            <form class="Search_3" action="/search" method="get">
                                <select name="Search_Type" id="Search_Type">
                                    <option value="All">All</option>
                                    <option value="Kids">Kids</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Kitchen">Kitchen</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Dress">Dress</option>
                                    <option value="Make up">Make up</option>
                                    <option value="Decoration">Decoration</option>
                                    <option value="Laptop">Laptop</option>
                                    <option value="Mobile">Mobile</option>
                                </select>
                                <input  id="Search_Main_Input" placeholder="Search for Products, Shops & Many more" type="text" name="Search" autocomplete="off" spellcheck="false" required>
                                <button class="DSDSDSDSDSDSDD" id="DSDSDSDSDSDSDD_S2" type="reset"><span class="material-symbols-outlined">close</span></button>
                                <button class="DSDSDSDSDSDSDD" id="DSDSDSDSDSDSDD_S" type="submit"><span class="material-symbols-outlined">search</span></button>


                                <div id="Search_Option_Box" class="Search_Option_Box">

                                    
                                    <div class="SEARCH_OPTION">
                                        <div class="SEARCH_OPTION_CENTER" id="SEARCH_OPTION_CENTER_1">
                                            
                                            <button class="BBSBSBBSB" type="button" onclick="Search_OPPP(1);">
                                                <div class="FIRST_ICON_SEARCH" id="FIRST_ICON_SEARCH_1">
                                                    <span class="material-symbols-outlined">search</span>
                                                </div>
                                                <div id="MAIN_SEARCH_TEXT_1" class="MAIN_SEARCH_TEXT">
                                                    <span id="TEXT_MAIB_1">Women Dress</span>                                           
                                                </div>
                                            </button>
                                            <div class="UP_ARROW">
                                                <button class="UPP_ARROW" type="button" onclick="UPP_ARROW(1);">
                                                    <span id="UP_ARROW_SET_1" class="material-symbols-outlined">north_west</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>
                            </form>
                            
                        </div>


                    </div>
                </div>
            </div>
            <div class="Nav_Slide">
                <nav>
                    <ul>
                        <li>Setting</li>
                        <li>Shop</li>
                        <li>Profile</li>
                        <li>Logout</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <footer class="Footer">GET SKY BUY &copy; All Rights Reserved</footer>
    <script src="/files/js/Home2.js"></script>    
</body>
</html>