<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping Site in India | GET-SKY-BUY</title>
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">
    
    <link rel="stylesheet" href="/files/css/Index.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">


    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->

    
    <link rel="stylesheet" href="/files/css/index1640.css"">
</head>
<body dir="ltr">
    <div id="Background_Blur_50"></div>
    <header id="Header">
        <nav id="Nav">
            <div id="Nav_1_1">
                <a href="/" title="GET-SKY-BUY" id="Nav_1_Img_Big_A">
                    <img id="Nav_1_Img_Big" src="/files/img/GSB_logo.png" alt="Logo">
                </a>
                <div title="GET-SKY-BUY" class="Nav" id="Nav_1">
                    <a id="Nav_1_A" href="/">                  
                        <div id="H1_Heading">GET SKY BUY</div>
                        <div id="Explore_Box">Explore now<img id="Nav_1_Img" src="/files/img/GSB_logo.png" alt="Logo"></div>
                    </a>
                    <a id="Nav_990">GSB</a>
                </div>
            </div>
            <div class="Nav" id="Nav_2">
                <form id="Nav_2_Form" action="/search_results" method="get">
                    <div id="All">
                        <span id="All_Down">All</span>
                        <span class="material-symbols-outlined" id="All_Down_Arrow">arrow_drop_down</span>
                        <div id="All_ARROW">
                            <button type="button" onclick="All_Arrow('All');" class="All_Down" id="All_Down-1">All</button>
                            <button type="button" onclick="All_Arrow('Dress');" class="All_Down" id="All_Down-2">Dress</button>
                            <button type="button" onclick="All_Arrow('Home appliance');" class="All_Down" id="All_Down-3">Home appliance</button>
                            <button type="button" onclick="All_Arrow('Laptop');" class="All_Down" id="All_Down-4">Laptop</button>
                            <button type="button" onclick="All_Arrow('Mobile');" class="All_Down" id="All_Down-5">Mobile</button>
                            <button type="button" onclick="All_Arrow('Kitchen');" class="All_Down" id="All_Down-6">Kitchen</button>
                            <button type="button" onclick="All_Arrow('Electronics');" class="All_Down" id="All_Down-7">Electronics</button>
                            <button type="button" onclick="All_Arrow('Robotics');" class="All_Down" id="All_Down-8">Robotics</button>
                            <button type="button" onclick="All_Arrow('Sports');" class="All_Down" id="All_Down-9">Sports</button>
                            <button type="button" onclick="All_Arrow('Other');" class="All_Down" id="All_Down-10">Other</button>
                        </div>
                    </div>
                    <div id="Search_Main">
                        <input title="Search" autocomplete="off" spellcheck="false" name="searched" type="text" id="Search_Main_Box" placeholder="Search for products, shop and many more" onfocus>
                        <div id="Search_Options">
                            <div class="Options" id="Search_Option_1"><span class="material-symbols-outlined Options_Icons" id="Options_Icon_1">search</span>
                                <span class="Options_Sen" id="Options_Sen_1">
                                |    Search_1
                                </span>
                                <span class="Options_Arrow" id="Options_Arrow_1"><span class="material-symbols-outlined Option_Arrow_Span">north_west</span></span>
                            </div>
                            <div class="Options" id="Search_Option_2"><span class="material-symbols-outlined Options_Icons" id="Options_Icon_2">search</span>
                                <span class="Options_Sen" id="Options_Sen_2">
                                |    Search_2
                                </span>
                                <span class="Options_Arrow" id="Options_Arrow_2"><span class="material-symbols-outlined Option_Arrow_Span">north_west</span></span>
                            </div>
                            <div class="Options" id="Search_Option_3"><span class="material-symbols-outlined Options_Icons" id="Options_Icon_3">search</span>
                                <span class="Options_Sen" id="Options_Sen_3">
                                |    Search_3
                                </span>
                                <span class="Options_Arrow" id="Options_Arrow_3"><span class="material-symbols-outlined Option_Arrow_Span">north_west</span></span>
                            </div>
                            <div class="Options" id="Search_Option_4"><span class="material-symbols-outlined Options_Icons" id="Options_Icon_4">search</span>
                                <span class="Options_Sen" id="Options_Sen_4">
                                |    Search_4
                                </span>
                                <span class="Options_Arrow" id="Options_Arrow_4"><span class="material-symbols-outlined Option_Arrow_Span">north_west</span></span>
                            </div>
                            <div class="Options" id="Search_Option_5"><span class="material-symbols-outlined Options_Icons" id="Options_Icon_5">search</span>
                                <span class="Options_Sen" id="Options_Sen_5">
                                |    Search_5
                                </span>
                                <span class="Options_Arrow" id="Options_Arrow_5"><span class="material-symbols-outlined Option_Arrow_Span">north_west</span></span>
                            </div>
                            <div class="Options" id="Search_Option_6"><span class="material-symbols-outlined Options_Icons" id="Options_Icon_6">search</span>
                                <span class="Options_Sen" id="Options_Sen_6">
                                |    Search_6
                                </span>
                                <span class="Options_Arrow" id="Options_Arrow_6"><span class="material-symbols-outlined Option_Arrow_Span">north_west</span></span>
                            </div>
                        </div>
                    </div>
                    <div id="Reset_Div">
                        <button id="Reset_Div_Button" class="material-symbols-outlined" type="reset">close</button>
                    </div>
                    <div id="Searched_Button">
                        <button title="Search" id="Searched_Button_Button" type="submit"><span id="Searched_Button_Button_Span" class="material-symbols-outlined">search</span></button>
                    </div>
                </form>
            </div>

            <div id="Nav_3">
                <a class="Nav" href="/s.html" title="Store/Shop" >
                    <span id="Store_Logo" class="material-symbols-outlined">store</span>
                    <span id="Store_Word">Store/Shop</span>
                </a>
            </div>
            <div class="Nav" id="Nav_4">
                <div id="Profile_Logo" class="material-symbols-outlined">person</div>
                <div id="Profile_Word">Profile</div>
                <div id="Profile_Down">
                    <a href="/profile" class="Profile_Options">Profile</a>
                    <a href="/signup" class="Profile_Options">Signup</a>
                    <a href="/orders" class="Profile_Options">Orders/Returns</a>
                    <a href="/favorite" class="Profile_Options">Favorite</a>
                    <a href="/cart" class="Profile_Options">Cart</a>
                    <a href="/sb_coins" class="Profile_Options">SB Coins</a>
                    <a href="/notification" class="Profile_Options">Notification</a>
                    <a href="/help_center" class="Profile_Options">Help center</a>
                    <a href="/contact_us" class="Profile_Options">Contact us</a>
                    <a href="/logout" class="Profile_Options">Logout</a>
                </div>
            </div>
            <div class="Nav" id="Nav_5">
                <div id="More_Logo" class="material-symbols-outlined">expand_more</div>
                <div id="More_Word">More</div>
                <div id="More_Down">
                    <a href="/download_app" class="More_Options">Download app</a>
                    <a href="/improve_us" class="More_Options">Improve us</a>
                    <a href="/register_a_complaint" class="More_Options">Register a complaint</a>
                    <a href="/customer_care" class="More_Options">Customer care</a>
                    <a href="/setting" class="More_Options">Setting</a>
                    <a href="/privacy_and_policy" class="More_Options">Privacy and policy</a>
                    <a href="/terms_and_conditions" class="More_Options">Terms and conditions</a>
                    <a href="/report_a_problem" class="More_Options">Report a problem</a>
                </div>
            </div>
            <div id="Nav_6">

                <a class="Nav" href="/favorite" title="Favorite" >
                    <span id="Favorite_Logo" class="material-symbols-outlined">favorite</span>
                    <span id="Favorite_Word">Favorite</span>
                </a>
            </div>
            <div id="Nav_7">
                <a class="Nav" id="Nav_7_1" href="/cart" title="Cart">
                    <span id="Cart_Logo" class="material-symbols-outlined">shopping_cart</span>
                    <span id="Cart_Word">Cart</span>
                    <span id="Cart_Number">0</span>
                </a>
            </div>
        </nav>
    </header>








    <div id="Nav_2nd">
        <div class="Nav_22 Nav_2nd_1" title="Home">
            <a class="Nav2" href="/home">Home</a>
        </div>
        <div class="Nav_22 Nav_2nd_2"  title="Shop/Store">
            <a class="Nav2" href="/store_shop">Store/Shop</a>
        </div>
        <div class="Nav_22 Nav_2nd_3" id="Nav2_3" title="Profile" >

            
            <span class="Nav_2nd_Home_Word">Profile</span>
            <span id="Profile_Down2">
                <a href="/profile" class="Profile_Options_Nav2">Profile</a>
                <a href="/signup" class="Profile_Options_Nav2">Signup</a>
                <a href="/orders" class="Profile_Options_Nav2">Orders/Returns</a>
                <a href="/favorite" class="Profile_Options_Nav2">Favorite</a>
                <a href="/cart" class="Profile_Options_Nav2">Cart</a>
                <a href="/sb_coins" class="Profile_Options_Nav2">SB Coins</a>
                <a href="/notification" class="Profile_Options_Nav2">Notification</a>
                <a href="/help_center" class="Profile_Options_Nav2">Help center</a>
                <a href="/contact_us" class="Profile_Options_Nav2">Contact us</a>
                <a href="/logout" class="Profile_Options_Nav2">Logout</a>
            </span>


        </div>

        
    </div>
    
    <!-- <img id="Virat_Home" src="https://i.gadgets360cdn.com/large/Vivo_V21e_poster_specs_leak_1623911420279.jpg" alt="Virat"> -->
    <script src="/files/js/Index.js"></script>
</body> 
</html>