<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='keywords' content='Online shopping site, goods and products, Local Shops, getskybuy, Online shopping, Local shops, good products, fast delivery'>
    <meta name="description" content="India's online shopping site for your local shops, this will help our India to grow faster. India doesn't has such a platform, where every shopkeepers can sell his products online. And every single one will get such a unique platform where we are going to provides you the fastest one day delivery services, and local products available in your locality and far away will also be available to you. You have a option to order any products from a particular shop and different place also.">
    <meta name='copyright' content='GET-SKY-BUY'>
    <meta name='robots' content='INDEX, FOLLOW'>
    <meta name='author' content='Rick, getskybuy@gmail.com, https://www.getskybuy.com'>
    <meta name='owner' content='Rick, GET-SKY-BUY and SKY TECH - RICK'>
    <meta name='url' content='https://www.getskybuy.com'>
    <meta name='coverage' content='India'>
    <meta name='revised' content='Saturday, August 5th, 2023, 9:00 pm'>
    <title>Login - GSB Account</title>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="/files/css/Login.css">


    <link rel="shortcut icon"href="/files/img/GSB_logo.png" type="image/x-icon">
</head>
<body>
    <div id="Topper"></div>
    <div class="container">

        <div id="Login">
            <img src="/files/img/Login_BackGround1.jpg" alt="No_Img">
        </div>
        <div id="Login_Side">
            <h1 id="heading">GET SKY BUY</h1>
            <h2 id="As_Login">Login</h2>
            <form method="post">
                <p id="Welcome">Welcome to our online shopping site</p>
                <!-- <div id="Selection"> -->
                    <!-- <p>Welcome back, please login using your credentials.</p> -->
                    <!-- <label id="Email_Label" for="Email">Email</label> -->
                    <!-- <label id="Mobile_Label" for="Mobile_Number">Mobile</label> -->
                <!-- </div> -->

                <!-- <div id="Email_Top">Email:</div> -->

                <div id="User_Login">
                    <span class="material-symbols-outlined" id="Span_Person">person</span>
                    <input title="Email" type="text" id="Email" name="Email" placeholder="Email" autocomplete="off" spellcheck="false" autofocus>
                </div>

                <p id="User_Login_P">Enter your Email address</p>

                <div id="User_Password">
                    <span class="material-symbols-outlined" id="Span_Password">lock</span>
                    <input title="Password" type="password" id="Password" name="Password" placeholder="Password" autocomplete="off" spellcheck="false">
                </div>
                <p id="User_Password_P">Enter your password</p>
                <div id="Check_Div">
                    <input type="checkbox" id="Checkk_p"><label for="Checkk_p">Show Password</label>
                </div>
                <div id="Submit_Button_DIV">
                    <button id="Submit_Button" title="Login" onclick="Submit_S();" type="button">Login</button>
                </div>
                <a id="forgot_passowrd" href="/forgot_passowrd">Forgot password?</a>
                <div id="OR">or</div>
                <a href="/signup" id="Donothaveaaccount">Don't have a account?</a>
                <a href="/terms_and_conditions" id="Terms">Terms and condition</a>
            </form>
        </div>
    </div>














    <div id="OTP_SENT_Y_N">
        <div id="OTP_SENT_Y_N_CENTER">Messages_HERE</div>
    </div>

    <div id="OTP_Container">
        <div class="Center_OTP">
            <div class="Center_OTP_C">
                <h3 class="H3_OTP">Verification Code</h3>
                <p>Enter the <strong>OTP</strong> sent to your E-mail.</p>
                <form id="OTP_FORM" method="post">
                    <input id="OTPP_INT" maxlength="6" name="OTP_REC" title="Enter OTP" class="OTP_INPUT" spellcheck="false" autocomplete="off" placeholder="Enter OTP" type="number">
                    <p id="OTP_Para">Wrong OTP | Re-enter OTP</p>
                    <div id="OTPBTN">
                        <button class="OTP_SUBMIT" type="button" onclick="Submitt();">Submit</button>
                    </div>
                    <h5 class="H5_">Haven't got the code.
                        <span id="Min_2_T">05:00</span>
                    </h5>
                    <div id="BTNSS">
                        <button type="button" onclick="Resend();" class="OTP_SUBMIT_D">Retry</button>
                    </div>
                    <!-- <button type="button" onclick="Del();" class="OTP_SUBMIT_D">Delete</button> -->
                </form>
            </div>
        </div>
    </div>
    <div id="KK">
        <div id="Small">Data</div>
    </div>

    <div id="LOADING">
        <div id="LOADING_SPAN"></div>
    </div>

    <div id="LOADING_ICON">
        <div id="LOADING_ICON_CENTER">
            <img src="/files/img/Loading_Pink.gif" alt="Loading...">
        </div>
    </div>


    <script src="/files/js/Login.js"></script>
</body>
</html>