<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Dashboard | GET SKY BUY</title>
    <link rel="stylesheet" href="./Files/css/Main_Admin.css">
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/admin">Home</a></li>
                <li><a href="/admin/client">Client</a></li>
                <li><a href="/admin/seller">Seller</a></li>
                <li><a href="/admin/manager">Manager</a></li>
                <li><a href="/admin/seller/manager">Seller Manager</a></li>
            </ul>
        </nav>
    </header>
    
    
</body>
</html>