<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP_Verification | GET-SKY-BUY | GSB Account</title>
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">

    <link rel="stylesheet" href="/files/css/OTP_Veri_Signup.css">

</head>

<body>
    <div id="OTP_Container">
        <div class="Center_OTP">
            <div class="Center_OTP_C">
                <h3 class="H3_OTP">One Time Password</h3>
                <p>Enter the <strong>OTP</strong> sent to your E-mail.</p>
                <form id="OTP_FORM" action="/signup/otp/verification" method="post">
                    <input maxlength="6" name="OTP_REC" title="Enter OTP" class="OTP_INPUT" spellcheck="false" autocomplete="off" placeholder="Enter OTP" type="text">
                    <p id="OTP_Para">Wrong OTP | Re-enter OTP</p>
                    <button class="OTP_SUBMIT" type="button" onclick="Submit()">Submit</button>
                    <h5 class="H5_">Haven't got the code.
                        <span class="Min_2_T">05:00</span>
                    </h5>
                    <button type="button" onclick="Resend();" class="OTP_SUBMIT_D">Resend</button>
                </form>

            </div>
        </div>
    </div>
    <div id="KK">
        <div id="Small">Data</div>

    </div>
    <script src="/files/js/OTP_Veri_Signup.js"></script>
</body>

</html>