<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{Title}</title>
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">

    
    <link rel="stylesheet" href="/files/css/Product_Page.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
</head>
<body dir="ltr">
    <main>
        <section class="Maa">
            <div class="m1">
                <div class="imgg" id="imgg">
                    <div class="I_UP_DOWN_m" id="I_UP_DOWN_m">

                        <span class="material-symbols-outlined">expand_less</span>
                    </div>
                    <div class="MSSS" id="MSSS">

                        
                        <button class="dda" onclick="smImg(1)" id="smImg1">
                            <img class="ms_img" id="Image_Select01" src="/product/img/M1.jpg">
                        </button>
                        <button class="dda" onclick="smImg(2)" id="smImg2">
                            <img class="ms_img" id="Image_Select02" src="/product/img/M2.jpg">
                        </button>
                        <button class="dda" onclick="smImg(3)" id="smImg3">
                            <img class="ms_img" id="Image_Select03" src="/product/img/M3.jpg">
                        </button>
                        <button class="dda" onclick="smImg(4)" id="smImg4">
                            <img class="ms_img" id="Image_Select04" src="/product/img/M1.jpg">
                        </button>
                        <button class="dda" onclick="smImg(5)" id="smImg5">
                            <img class="ms_img" id="Image_Select05" src="/product/img/M2.jpg">
                        </button>
                        <button class="dda" onclick="smImg(6)" id="smImg6">
                            <img class="ms_img" id="Image_Select06" src="/product/img/M3.jpg">
                        </button>
                        <button class="dda" onclick="smImg(7)" id="smImg7">
                            <img class="ms_img" id="Image_Select07" src="/product/img/M1.jpg">
                        </button>
                        <button class="dda" onclick="smImg(8)" id="smImg8">
                            <img class="ms_img" id="Image_Select08" src="/product/img/M3.jpg">
                        </button>
                        <button class="dda" onclick="smImg(9)" id="smImg9">
                            <img class="ms_img" id="Image_Select09" src="/product/img/M2.jpg">
                        </button>
                        <button class="dda" onclick="smImg(10)" id="smImg10">
                            <img class="ms_img" id="Image_Select010" src="/product/img/M1.jpg">
                        </button>
                    </div>
                    
                    <div class="I_UP_DOWN_l" id="I_UP_DOWN_l">
                        <span class="material-symbols-outlined">expand_more</span>

                    </div>

                </div>
                <div class="Big_IMMGG">
                    
                    <img id="BIG_I" src="">


                </div>

            </div>















































            <div class="m2">
                <div class="Tttlleee">
                    <h1>Samsung Galaxy S20 pro | 5G+ 8GB RAM | 128GB Storage | 1080 Dimensity processor | 5000mAh Battery with 108MP Camera</h1>

                </div>
                <div class="Visisitt">
                    <span>M.D Store &nbsp;</span><a href="/shop/mdstore">Visit the shop</a>
                </div>
                <hr>


                <div class="offera">
                    <p><span class="material-symbols-outlined selll_IC">sell</span>Cashback upto Rs.500 on SBI Debit card</p>
                    <p><span class="material-symbols-outlined selll_IC">sell</span>Cashback upto Rs.5,000 on order over Rs.20,000 on ICICI Credit card</p>
                    <p><span class="material-symbols-outlined selll_IC">sell</span>Order between 4th May and get 50% off</p>
                </div>






                <hr>
                <div class="pri">
                    <span class="Pris">₹</span>
                    <span class="Prisell">15,855</span>
                    <span class="Primrp">MRP:</span><span class="Prinum">19,999</span>
                    <span class="PerOff">-30% off</span>
                    <span class="PerSt">In Stock</span>

                </div>


                <div class="bbs">
                    <button>Add to cart</button>
                    <button>Buy now</button>

                </div>











            </div>
            
        </section>
    </main>
    <script src="/files/js/Product_Page.js"></script>
</body> 
</html>