<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{Title}</title>
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">

    
    <link rel="stylesheet" href="/files/css/Product_Page.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
</head>
<body dir="ltr">
    <main>
        <section class="Maa">
            <div class="m1">
                <div class="imgg" id="imgg">
                    <div class="I_UP_DOWN_m" id="I_UP_DOWN_m">

                        <span class="material-symbols-outlined">expand_less</span>
                    </div>
                    <div class="MSSS" id="MSSS">

                        
                        <button class="dda" onclick="smImg(1)" id="smImg1">
                            <img class="ms_img" id="Image_Select01" src="/product/img/M1.jpg">
                        </button>
                        <button class="dda" onclick="smImg(2)" id="smImg2">
                            <img class="ms_img" id="Image_Select02" src="/product/img/M2.jpg">
                        </button>
                        <button class="dda" onclick="smImg(3)" id="smImg3">
                            <img class="ms_img" id="Image_Select03" src="/product/img/M3.jpg">
                        </button>
                        <button class="dda" onclick="smImg(4)" id="smImg4">
                            <img class="ms_img" id="Image_Select04" src="/product/img/M1.jpg">
                        </button>
                        <button class="dda" onclick="smImg(5)" id="smImg5">
                            <img class="ms_img" id="Image_Select05" src="/product/img/M2.jpg">
                        </button>
                        <button class="dda" onclick="smImg(6)" id="smImg6">
                            <img class="ms_img" id="Image_Select06" src="/product/img/M3.jpg">
                        </button>
                        <button class="dda" onclick="smImg(7)" id="smImg7">
                            <img class="ms_img" id="Image_Select07" src="/product/img/M1.jpg">
                        </button>
                        <button class="dda" onclick="smImg(8)" id="smImg8">
                            <img class="ms_img" id="Image_Select08" src="/product/img/M3.jpg">
                        </button>
                        <button class="dda" onclick="smImg(9)" id="smImg9">
                            <img class="ms_img" id="Image_Select09" src="/product/img/M2.jpg">
                        </button>
                        <button class="dda" onclick="smImg(10)" id="smImg10">
                            <img class="ms_img" id="Image_Select010" src="/product/img/M1.jpg">
                        </button>
                    </div>
                    
                    <div class="I_UP_DOWN_l" id="I_UP_DOWN_l">
                        <span class="material-symbols-outlined">expand_more</span>

                    </div>

                </div>
                <div class="Big_IMMGG">
                    
                    <img id="BIG_I" src="">


                </div>

            </div>















































            <div class="m2">
                <div class="Tttlleee">
                    <h1>Samsung Galaxy S20 pro | 5G+ 8GB RAM | 128GB Storage | 1080 Dimensity processor | 5000mAh Battery with 108MP Camera</h1>

                </div>
                <div class="Visisitt">
                    <span>M.D Store &nbsp;</span><a href="/shop/mdstore">Visit the shop</a>
                </div>
                <hr>


                <div class="offera">
                    <p><span class="material-symbols-outlined selll_IC">sell</span>Cashback upto Rs.500 on SBI Debit card</p>
                    <p><span class="material-symbols-outlined selll_IC">sell</span>Cashback upto Rs.5,000 on order over Rs.20,000 on ICICI Credit card</p>
                    <p><span class="material-symbols-outlined selll_IC">sell</span>Order between 4th May and get 50% off</p>
                </div>






                <hr>
                <div class="pri">
                    <span class="Pris">₹</span>
                    <span class="Prisell">15,855</span>
                    <span class="Primrp">MRP:</span><span class="Prinum">19,999</span>
                    <span class="PerOff">-30% off</span>
                    <span class="PerSt">In Stock</span>

                </div>


                <div class="bbs">
                    <button type="button" onclick="AddToCart();">Add to cart</button>
                    <button type="button" onclick="BuyNow();">Buy now</button>

                </div>
                <div class="Des">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, corrupti porro mollitia exercitationem totam inventore explicabo aliquam impedit, voluptate, pariatur expedita corporis animi aut numquam. Nihil omnis consectetur tempore totam doloribus eius odit provident beatae, praesentium perspiciatis? Consequatur quae asperiores maxime corporis et qui cupiditate provident saepe deserunt, suscipit laborum. Necessitatibus voluptatem hic, aut nobis possimus officia enim? Quaerat molestiae repudiandae nam nulla sequi autem dolores ab ducimus nemo, corrupti omnis debitis, est sed qui, soluta repellat. Voluptas, perferendis officia.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, corrupti porro mollitia exercitationem totam inventore explicabo aliquam impedit, voluptate, pariatur expedita corporis animi aut numquam. Nihil omnis consectetur tempore totam doloribus eius odit provident beatae, praesentium perspiciatis? Consequatur quae asperiores maxime corporis et qui cupiditate provident saepe deserunt, suscipit laborum. Necessitatibus voluptatem hic, aut nobis possimus officia enim? Quaerat molestiae repudiandae nam nulla sequi autem dolores ab ducimus nemo, corrupti omnis debitis, est sed qui, soluta repellat. Voluptas, perferendis officia.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, corrupti porro mollitia exercitationem totam inventore explicabo aliquam impedit, voluptate, pariatur expedita corporis animi aut numquam. Nihil omnis consectetur tempore totam doloribus eius odit provident beatae, praesentium perspiciatis? Consequatur quae asperiores maxime corporis et qui cupiditate provident saepe deserunt, suscipit laborum. Necessitatibus voluptatem hic, aut nobis possimus officia enim? Quaerat molestiae repudiandae nam nulla sequi autem dolores ab ducimus nemo, corrupti omnis debitis, est sed qui, soluta repellat. Voluptas, perferendis officia.</p>

                </div>

                <hr>

                <div class="AskAQuestion">
                    <form action="">
                        <textarea name="" id="TextA" cols="30" rows="10" placeholder="Ask a question?"></textarea>
                        <button type="button" onclick="AskAQues">Ask</button>
                    </form>

                    <div class="questionss">
                        <div>Q. What is the time taken for charging?</div>
                        <div>A. 30 minutes</div> <hr>
                        <div>Q. What is the time taken for charging?</div>
                        <div>A. 30 minutes</div> <hr>
                        <div>Q. What is the time taken for charging?</div>
                        <div>A. 30 minutes</div> <hr>
                        <div>Q. What is the time taken for charging?</div>
                        <div>A. 30 minutes</div> <hr>

                    </div>
                    
                </div>

                <br><hr><br>
                



                <div class="Review_Di">
                    <form action="">
                        <textarea name="" id="TextAq" cols="30" rows="10" placeholder="Write a review..."></textarea>
                        <button type="button" onclick="AskAQues">Send</button>
                    </form>
                    <div class="REe">
                        
                        <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae eveniet molestiae hic ea. Est officia maxime debitis voluptatum error similique, asperiores ex autem commodi repellendus quisquam cumque nam explicabo dolor culpa aliquid illum? Maxime non magnam eum. Dignissimos, vero odio!</div>
                        <hr>
                        <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae eveniet molestiae hic ea. Est officia maxime debitis voluptatum error similique, asperiores ex autem commodi repellendus quisquam cumque nam explicabo dolor culpa aliquid illum? Maxime non magnam eum. Dignissimos, vero odio!</div>
                        <hr>
                        <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae eveniet molestiae hic ea. Est officia maxime debitis voluptatum error similique, asperiores ex autem commodi repellendus quisquam cumque nam explicabo dolor culpa aliquid illum? Maxime non magnam eum. Dignissimos, vero odio!</div>
                        <hr>
                        <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae eveniet molestiae hic ea. Est officia maxime debitis voluptatum error similique, asperiores ex autem commodi repellendus quisquam cumque nam explicabo dolor culpa aliquid illum? Maxime non magnam eum. Dignissimos, vero odio!</div>
                        <hr>


                    </div>



                </div>











            </div>
            
        </section>
    </main>
    


















    <div class="Row_1">
        <div class="Row_Slide">

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://wallpaperswide.com/download/eiger_mountain_grindelwald_switzerland_landscape-wallpaper-2560x2560.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://assets.architecturaldigest.in/photos/63287ef4b1c1612420a16876/1:1/w_1080,h_1080,c_limit/mountain%20top-1.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDJsCvYJiKLzN4PudndnC22UWHz6yUz1WH9VVBVwELuw&s">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://wallpaperswide.com/download/sunset_5-wallpaper-2048x2048.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOnm3zt4ZFh7yY1vPMKAn4g51UTSCG8bpT6VQv3e9slw&s">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://wallpaperswide.com/download/eiger_mountain_grindelwald_switzerland_landscape-wallpaper-2560x2560.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7uO5ARZVFb6qn_EsC6v2LTLhsn4O6NakdINdzR5JqSA&s">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://i.pinimg.com/originals/29/06/49/29064960c2b0e3b0ab3fa1e9005ee971.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://i.pinimg.com/736x/c9/82/b1/c982b11fb4aaea7ed414a8cf2ada63d3.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjzP9i_W0xU8nj1N34qTnAHldsrvET73oIfzj1tG1IfA&s">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://i.natgeofe.com/n/cfa19a0d-eff0-4628-8fdd-2ad8d66845dd/mountain-range-appenzell-switzerland_square.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://w0.peakpx.com/wallpaper/547/513/HD-wallpaper-square-top-mountain-and-the-green-river-wyoming-mountain-river-water-sky.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>
            
            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://wallpaperswide.com/download/eiger_mountain_grindelwald_switzerland_landscape-wallpaper-2560x2560.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>
        </div>
        <div class="Arrow_Right"><span class="material-symbols-outlined Arrow_LEFT_SPAN">arrow_back_ios</span></div>
        <div class="Arrow_Left"><span class="material-symbols-outlined Arrow_RIGHT_SPAN">arrow_forward_ios</span></div>
    </div>
    <div class="Row_1">
        <div class="Row_Slide">

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://wallpaperswide.com/download/eiger_mountain_grindelwald_switzerland_landscape-wallpaper-2560x2560.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://assets.architecturaldigest.in/photos/63287ef4b1c1612420a16876/1:1/w_1080,h_1080,c_limit/mountain%20top-1.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDJsCvYJiKLzN4PudndnC22UWHz6yUz1WH9VVBVwELuw&s">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://wallpaperswide.com/download/sunset_5-wallpaper-2048x2048.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOnm3zt4ZFh7yY1vPMKAn4g51UTSCG8bpT6VQv3e9slw&s">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://wallpaperswide.com/download/eiger_mountain_grindelwald_switzerland_landscape-wallpaper-2560x2560.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7uO5ARZVFb6qn_EsC6v2LTLhsn4O6NakdINdzR5JqSA&s">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://i.pinimg.com/originals/29/06/49/29064960c2b0e3b0ab3fa1e9005ee971.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://i.pinimg.com/736x/c9/82/b1/c982b11fb4aaea7ed414a8cf2ada63d3.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjzP9i_W0xU8nj1N34qTnAHldsrvET73oIfzj1tG1IfA&s">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://i.natgeofe.com/n/cfa19a0d-eff0-4628-8fdd-2ad8d66845dd/mountain-range-appenzell-switzerland_square.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://w0.peakpx.com/wallpaper/547/513/HD-wallpaper-square-top-mountain-and-the-green-river-wyoming-mountain-river-water-sky.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>
            
            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://wallpaperswide.com/download/eiger_mountain_grindelwald_switzerland_landscape-wallpaper-2560x2560.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>
        </div>
        <div class="Arrow_Right"><span class="material-symbols-outlined Arrow_LEFT_SPAN">arrow_back_ios</span></div>
        <div class="Arrow_Left"><span class="material-symbols-outlined Arrow_RIGHT_SPAN">arrow_forward_ios</span></div>
    </div>
    <div class="Row_1">
        <div class="Row_Slide">

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://wallpaperswide.com/download/eiger_mountain_grindelwald_switzerland_landscape-wallpaper-2560x2560.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://assets.architecturaldigest.in/photos/63287ef4b1c1612420a16876/1:1/w_1080,h_1080,c_limit/mountain%20top-1.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDJsCvYJiKLzN4PudndnC22UWHz6yUz1WH9VVBVwELuw&s">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://wallpaperswide.com/download/sunset_5-wallpaper-2048x2048.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOnm3zt4ZFh7yY1vPMKAn4g51UTSCG8bpT6VQv3e9slw&s">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://wallpaperswide.com/download/eiger_mountain_grindelwald_switzerland_landscape-wallpaper-2560x2560.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7uO5ARZVFb6qn_EsC6v2LTLhsn4O6NakdINdzR5JqSA&s">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://i.pinimg.com/originals/29/06/49/29064960c2b0e3b0ab3fa1e9005ee971.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://i.pinimg.com/736x/c9/82/b1/c982b11fb4aaea7ed414a8cf2ada63d3.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjzP9i_W0xU8nj1N34qTnAHldsrvET73oIfzj1tG1IfA&s">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://i.natgeofe.com/n/cfa19a0d-eff0-4628-8fdd-2ad8d66845dd/mountain-range-appenzell-switzerland_square.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>

            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://w0.peakpx.com/wallpaper/547/513/HD-wallpaper-square-top-mountain-and-the-green-river-wyoming-mountain-river-water-sky.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>
            
            <div class="Products_1">
                <div class="IMG_P">
                    <a href="/product/sadsa">
                        <img class="IMG_IMG" src="https://wallpaperswide.com/download/eiger_mountain_grindelwald_switzerland_landscape-wallpaper-2560x2560.jpg">
                    </a>
                </div>
                <div class="Title_P">
                    <h5 class="Title_P_h5">
                        <a href="/product/sadsa">Blue Berry curve || Green Valley woodsadsad assa ssdad sadsa dsad sas adsa dasddasda ssa dassa saas</a>
                    </h5>
                </div>
                <div class="Prize_P">
                    <span class="sym">&#8377;</span>
                    <span class="selP">15,154</span>

                </div>
                <div class="Mark_P">
                    <span class="Mark_P_Sp">M.R.P: </span>
                    <span class="Mark_P_Sp_P">&#8377;19,999</span>
                </div>
                <div class="Msg_C">Cash on delivery available</div>
                <div class="Veri_P">
                    <span>Verified Seller</span>
                </div>
            </div>
        </div>
        <div class="Arrow_Right"><span class="material-symbols-outlined Arrow_LEFT_SPAN">arrow_back_ios</span></div>
        <div class="Arrow_Left"><span class="material-symbols-outlined Arrow_RIGHT_SPAN">arrow_forward_ios</span></div>
    </div>



































    <footer>
        <div>
            <a href="/">Home</a>
            <a href="">Contact us</a>
            <a href="">Services</a>
            <a href="">Customer care</a>
            <a href="">About us</a>
            <a href="">Terms and conditions</a>
        </div>

    </footer>




























































































































































    <script src="/files/js/Product_Page.js"></script>
</body> 
</html>