<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT DETAILS </title>
</head>
<body>
    <form action="/product_Details" method="post">
        <input type="text" autocomplete="off" spellcheck="off" name="Title" placeholder="Title" autofocus><br><hr>
        <input type="text" autocomplete="off" spellcheck="off" name="Description" placeholder="Description"><br><hr>
        <input type="text" autocomplete="off" spellcheck="off" name="MRP" placeholder="MRP"><br><hr>
        <input type="text" autocomplete="off" spellcheck="off" name="SELLING" placeholder="SELLING PRIZE"><br><hr>
        <input type="text" autocomplete="off" spellcheck="off" name="Keywords" placeholder="Keywords"><br><hr>
        <input type="text" autocomplete="off" spellcheck="off" name="About" placeholder="About"><br><hr>
        <input type="text" autocomplete="off" spellcheck="off" name="Table" placeholder="Table"><br><hr>
        <input type="submit" value="Submited"><br><hr>
    </form>
</body>
</html>