<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/files/css/Seller_Profile.css">
    <title>Buisness Profile | GET-SKY-BUY</title>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>

</body>
</html>