<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Login - GET SKY BUY</title> 
        <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">
    
    <link rel="stylesheet" href="/files/css/Seller_Home.css">



    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">

</head>
<body>

    
    <div class="CC">
        <div class="cc_Box">
            <div><h1>GET SKY BUY</h1></div>
            <div><h2>Seller Account</h2></div>
            <div><h2>Login</h2></div>
            <form action="/seller/login" method="post">
                <input name="Mobile_Number" title="Enter your number" type="number" spellcheck="false" maxlength="10" autocomplete="off" required placeholder="Enter your Number" autofocus>
                <input name="Password" title="Enter your password" type="password" spellcheck="false" autocomplete="off" required placeholder="Enter your password">
                <a href="/seller/forgot_password">Forgot Password?</a>
                <button type="submit">Submit</button>
            </form>
            <a class="A_A" href="/seller/signup">Don't have an account?</a>
            <div class="note">
            |    NOTE: You have to be active for more productive.
            </div>

        </div>

    </div>
    
</body>
</html>