<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Add Product | GET-SKY-BUY</title>

    <link rel="stylesheet" href="/files/css/Seller_Add_Product.css">
</head>
<body>
    <center>

        <h1>
            |    Seller Add Product
        </h1>
    </center>
    <hr>


    <fieldset>
        <legend>Add you product</legend>
        <form action="/seller_add_product" method="post" enctype="multipart/form-data">
            <center>
                
                <label for="Title_ID">Title:</label>
                
                <input autocomplete="off" spellcheck="false" placeholder="Main title" type="text" name="Title" id="Title_ID" required><br>

                <label for="Sub_Title">Sub title:</label>
                <input autocomplete="off" spellcheck="false" placeholder="Sub title"type="text" name="Sub_Title" id="Sub_Title" required><br>


                <label for="a1">MRP*:</label>
                <input placeholder="MRP" type="text" name="MRP" id="a1" autocomplete="off" spellcheck="false"  required><br>

                <label for="a2">Selling price*:</label>
                <input placeholder="Selling Price" type="text" name="Selling_Price" id="a2" autocomplete="off" spellcheck="false"  required><br>



                <label for="a3">Quantity availabe*:</label>
                <input placeholder="Quantity availabe" type="number" name="Quantity_Available" id="a3" autocomplete="off" spellcheck="false"  required><br>
                
                
                <textarea name="Description" id="a3" placeholder="Description" spellcheck="false" autocomplete="off" required></textarea><br>
                
                










                <label for="b1">Product details key - 1*:</label>
                <input placeholder="Product Detail key" type="text" name="Product_Details_1" id="b1" autocomplete="off" spellcheck="false" required>

                <label for="b2">Product details value*:</label>
                <input placeholder="Product Detail value" type="text" name="Product_Details_1V" id="b2" autocomplete="off" spellcheck="false" required>
                
                <br>


                <label for="b3">Product details key - 2*:</label>
                <input placeholder="Product Detail key" type="text" name="Product_Details_2" id="b3" autocomplete="off" spellcheck="false" required>

                <label for="b4">Product details value*:</label>
                <input placeholder="Product Detail value" type="text" name="Product_Details_2V" id="b4" autocomplete="off" spellcheck="false" required>
                
                <br>

                <label for="b5">Product details key - 3*:</label>
                <input placeholder="Product Detail key" type="text" name="Product_Details_3" id="b5" autocomplete="off" spellcheck="false" required>

                <label for="b6">Product details value*:</label>
                <input placeholder="Product Detail value" type="text" name="Product_Details_3V" id="b6" autocomplete="off" spellcheck="false" required>
                

                <br>



                <label for="b7">Product details key - 4*:</label>
                <input placeholder="Product Detail key" type="text" name="Product_Details_4" id="b7" autocomplete="off" spellcheck="false" required>

                <label for="b8">Product details value*:</label>
                <input placeholder="Product Detail value" type="text" name="Product_Details_4V" id="b8" autocomplete="off" spellcheck="false" required>
                


                <br>


                <label for="b9">Product details key - 5*:</label>
                <input placeholder="Product Detail key" type="text" name="Product_Details_5" id="b9" autocomplete="off" spellcheck="false" required>

                <label for="b10">Product details value*:</label>
                <input placeholder="Product Detail value" type="text" name="Product_Details_5V" id="b10" autocomplete="off" spellcheck="false" required>


                <br>


                <label for="b11">Product details key - 6*:</label>
                <input placeholder="Product Detail key" type="text" name="Product_Details_6" id="b11" autocomplete="off" spellcheck="false" required>

                <label for="b12">Product details value*:</label>
                <input placeholder="Product Detail value" type="text" name="Product_Details_6V" id="b12" autocomplete="off" spellcheck="false" required><br>
                
                


                
                <br>    

                <input placeholder="Keywords" type="text" name="Keywords" id="Keywords" autocomplete="off" spellcheck="false" required>

                <input name="File_1" type="file"><br>
                <input name="File_2" type="file"><br>
                <input name="File_3" type="file"><br>
                <input name="File_4" type="file"><br>
                <input name="File_5" type="file"><br>
                <input name="File_6" type="file"><br>
                <input name="File_7" type="file"><br>
                <input name="File_8" type="file"><br>
                <input name="File_9" type="file"><br>


                <button type="submit">Submit</button>
            </center>
        </form>
        
    </fieldset>


    <hr>
</body>
</html>