<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='keywords' content='Online shopping site, goods and products, Local Shops, getskybuy, Online shopping, Local shops, good products, fast delivery'>
    <meta name="description" content="India's online shopping site for your local shops, this will help our India to grow faster. India doesn't has such a platform, where every shopkeepers can sell his products online. And every single one will get such a unique platform where we are going to provides you the fastest one day delivery services, and local products available in your locality and far away will also be available to you. You have a option to order any products from a particular shop and different place also.">
    <meta name='copyright' content='GET-SKY-BUY'>
    <meta name='robots' content='INDEX, FOLLOW'>
    <meta name='author' content='Rick, getskybuy@gmail.com, https://www.getskybuy.com'>
    <meta name='owner' content='Rick, GET-SKY-BUY and SKY TECH - RICK'>
    <meta name='url' content='https://www.getskybuy.com'>
    <meta name='coverage' content='India'>
    <meta name='revised' content='Saturday, August 5th, 2023, 9:00 pm'>

    <link rel="shortcut icon" href="/files/img/GSB_logo.png" type="image/x-icon">

    <title>Seller | Create Seller GSB Account</title>


    
    <link rel="stylesheet"href="/files/css/Seller_Signup.css">
    <link rel="stylesheet"href="/files/gsb/getfrontend/css/zasfyiopwqerjasdfsahetest3/warawf36lsdfs3u2662ar34663/saf46464u6fpivgmnare36346363/63636u346346346sdafu4363463o46/4uyhpiuyu3o6o43634/6u234/All_Files.css">
</head>
<body id="BBBB">
    <div class="Container"></div>
    <div id="Center">
        <div id="Welcome_Seller">Welcome, <br>Create your<br>GSB's Seller account</div>
        <div id="Welc">Create your own selling account and sell products on <strong>GET-SKY-BUY</strong>.</div>
        <div id="Before_You">Before your create, read <a href="/Terms_conditions">Terms and condtions</a> for seller account.</div>
        <div id="Fill_Form">Fill out this form.</div>
        <form action="/user_create_account" method="post">
            <div id="First_Name_Div">
                <input spellcheck="false" autocomplete="off" type="text" name="First_Name" id="First_Name" placeholder="First name" autofocus>
                <div id="First_Name_P">Enter your first name</div>
            </div>
            <div id="Last_Name_Div">
                <input spellcheck="false" autocomplete="off" type="text" name="Last_Name" id="Last_Name" placeholder="Last name">
                <div id="Last_Name_P">Enter your last name</div>
            </div>
            <div id="Mobile_Number_Div">
                <input id="Mobile_Number" autocomplete="off" spellcheck="false" type="text" name="Mobile_Number" maxlength="10" placeholder="Mobile number">
                <div id="Mobile_Number_P">Enter your mobile number</div>
            </div>
            <div id="Email_Div">
                <input id="Email" autocomplete="off" spellcheck="false" type="text" name="Email" placeholder="Email">
                <div id="Email_P">Enter your email</div>
            </div>
            <div id="PIN_Div">
                <input id="PIN" autocomplete="off" spellcheck="false" type="text" maxlength="6" name="PIN" placeholder="PIN code">
                <div id="PIN_P">Enter your area pin code</div>
            </div>
            <div id="Create_Password_Div">
                <input id="Create_Password" autocomplete="off" spellcheck="false" type="text"name="Create_Password" placeholder="Create password">
                <div id="Create_Password_P">Enter your area pin code</div>
            </div>
            <div id="Confirm_Password_Div">
                <input id="Confirm_Password" autocomplete="off" spellcheck="false" type="text" name="Confirm_Password" placeholder="Confirm password">
                <div id="Confirm_Password_P">Enter your area pin code</div>
                <input type="checkbox" id="Show_Password_Check"><span id="Show_Password_Word">Show password</span>
            </div>
            <button id="Submit_Button" onclick="">Continue</button>
            <div id="By_Continue">By continuing, you will agree Get-Sky-Buy's terms and conditions</div>
            <div id="OR">or</div>
            <button type="button" onclick="CLick()" id="Already_Have">Already have a account?</button>
            <a id="AAA" href="/terms and conditions">Terms and condtions</a>
        </form>
    </div>
    <div class="Container">
        <div id="Center_Down">
            <a class="Spana" href="/" id="Home">Home</a>
            <a class="Spana" href="/help_center" id="Help">Help center</a>
            <a class="Spana" href="/privacy" id="Privacy">Privacy and policy</a>
            <a class="Spana" href="/terms" id="term">Terms and conditions</a>
        </div>
    </div>
    
    
    <script src="/files/js/Seller_Signup.js"></script>

</body>
</html>