<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='keywords' content='Online shopping site, goods and products, Local Shops, getskybuy, Online shopping, Local shops, good products, fast delivery'>
    <meta name="description" content="India's online shopping site for your local shops, this will help our India to grow faster. India doesn't has such a platform, where every shopkeepers can sell his products online. And every single one will get such a unique platform where we are going to provides you the fastest one day delivery services, and local products available in your locality and far away will also be available to you. You have a option to order any products from a particular shop and different place also.">
    <meta name='copyright' content='GET-SKY-BUY'>
    <meta name='robots' content='INDEX, FOLLOW'>
    <meta name='author' content='Rick, getskybuy@gmail.com, https://www.getskybuy.com'>
    <meta name='owner' content='Rick, GET-SKY-BUY and SKY TECH - RICK'>
    <meta name='url' content='https://www.getskybuy.com'>
    <meta name='coverage' content='India'>
    <meta name='revised' content='Saturday, August 5th, 2023, 9:00 pm'>
    <title>Signup - Create GSB Account</title>




    <link rel="stylesheet" href="/files/css/Signup.css">


    <link rel="shortcut icon"href="/files/img/GSB_logo.png" type="image/x-icon">



</head>
<body>
    <div class="Main_Container">
        <div class="Main_Container_01">
            <div id="Upper"></div>
            <div class="Main_Container_02">
                <div class="Heading01">
                |   GET-SKY-BUY
                </div>
                <div id="Signup">
                    <div id="Signup_001">
                    |    Signup
                    </div>
                    <p id="WelcomeP">
                    |   Welcome to India's online shopping site.
                    </p>
                    <p id="CreateP">
                    |   Create your GSB account.
                    </p>
                </div>
                <form action="/signup" method="post">
                    <div id="First_Last_Name">
                        <div id="First_Name_Box">
                            <input title="First name" spellcheck="false" autocomplete="off" class="FL_All" type="text" name="First_Name" placeholder="First name" id="First_Name" autofocus>
                            <p id="First_Name_P">Letters and spaces only</p>
                        </div>
                        <div id="Last_Name_Box">
                            <input title="Last name" spellcheck="false" autocomplete="off" class="FL_All" type="text" name="Last_Name" placeholder="Last name" id="Last_Name">
                            <p id="Last_Name_P">Letters and spaces only</p>
                        </div>
                    </div>

                    <div id="Mobile_box">
                        <input maxlength="10" spellcheck="false" title="Mobile number" autocomplete="off" class="Input_All" type="text" name="Mobile_Number" placeholder="Mobile number" id="Mobile_Number">
                        <p id="Mobile_Number_P">Mobile number (9876543210)</p>
                    </div>
                    <div id="Email_box">
                        <input title="Email" spellcheck="false" autocomplete="off" class="Input_All" type="text" name="Email" placeholder="Email address" id="Email">
                        <p id="Email_P">Email address (example@gmail.com)</p>
                    </div>
                    <div id="Create_Box">
                        <input title="Create password" spellcheck="false" autocomplete="off" class="Input_All" type="password" placeholder="Create password" id="Create_Password">
                        <p id="Create_Password_P">Include, uppercase, lowercase, symbol and numbers <br> (Minimum 8 character)</p>
                    </div>
                    <div id="Confirm_Box">
                        <input title="Confirm password" spellcheck="false" autocomplete="off" class="Input_All" type="password" name="Confirm_Password" placeholder="Confirm password" id="Confirm_Password">
                        <p id="DoesNotMatch">Re-enter your password</p>
                        <input id="Input_Check_Box" type="checkbox">
                        <p id="Show_Password">Show password.</p>
                    </div>

                    <button onclick="Submited_Clicked();" id="Submit_Button" type="button">Continue</button>
                    <p id="Cookies_Note">By continuing, you will agree Get-Sky-Buy's terms and conditions</p>
                    <div id="OR">or</div>
                    <button onclick="Login();" type="button" id="Already_Account">Already have a account?</button>
                    <a href="/terms_and_conditions" id="terms_and_conditionss">Terms and conditions</a>
                    
                    
                </form>

            </div>
            <div id="Last_Main">
                <a href="/" class="count">
                |   Home
                </a>
                <a href="help_center" class="count">
                |   Help center
                </a>
                <a href="privacy_and_policy" class="count">
                |   Privacy and policy
                </a>
                <a href="terms_and_conditions" class="count">
                | Terms and conditions
                </a>
            </div>
        </div>
    </div>




    <script src="/files/js/Signup.js"></script>
</body>
</html>